.image-gallery-designer {
  min-height: 80vh;
  .cover-photo-container {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative; // Needed for absolute positioning of the toolbar

    .cover-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .cover-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    .cover-photo-placeholder {
      text-align: center;
      color: #999;
      z-index: 0;
    }

    .text-overlay {
      position: absolute;
      color: white;
      text-align: center;
      padding: 20px;
      z-index: 2;
      &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.top-left {
        top: 20px;
        left: 20px;
        text-align: left;
      }
      &.top-right {
        top: 20px;
        right: 20px;
        text-align: right;
      }
      &.bottom-left {
        bottom: 20px;
        left: 20px;
        text-align: left;
      }
      &.bottom-right {
        bottom: 20px;
        right: 20px;
        text-align: right;
      }

      .cover-title,
      .cover-description {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
        margin: 0;
      }

      .cover-title {
        color: white;;
        font-size: 2.5rem;
        font-weight: bold;
      }

      .cover-description {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.75);;
      }
    }

    .toolbar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 2;

      button {
        background-color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    &:hover .toolbar {
      opacity: 1;
      visibility: visible;
    }
  }
}
