@import '../../style/variables';
.preview-wrapper{
    position: fixed;
    left: 0;
    z-index: 50;
  }
.preview{
    position: fixed;
    top: -($header-height );
    left: -8px*24;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    .image-wrap{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-items: center;
        .image{
            height: calc(100% - 8px * 18);
            width: 100vw;
            background-position: center;
            transition: background-size 0.1s ease;

            background-size: auto 100% ;
        }
    }
    .controls{
        .prev{
            position: fixed;
            top: 50vh;
            left: 0px;
            width: 8px*5;
            height: 8px*5;
            margin: 8px*2;
            background-image: url('../../assets/img/icons/back.png');
            background-size: contain;
            opacity: 0.5;
            transition-duration: 0.2s;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        .next{
            position: fixed;
            top: 50vh;
            right: 0vh;
            width: 8px*5;
            height: 8px*5;
            margin: 8px*2;
            background-image: url('../../assets/img/icons/back.png');
            background-size: contain;
            transform: rotate(180deg);
            opacity: 0.5;
            transition-duration: 0.2s;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        &.top{
            margin-top: 8px;
            .left-controls{
                display: flex;
                align-items: center;
                position: fixed;
                top: 8px;
                left: 0px;
                width: 8px*40;
                height: 8px*3;
                margin: 8px*2;
                .back{
                    padding: 8px*2.5;
                    margin-right: 8px*2;
                    border-radius: 100%;
                    background-image: url('../../assets/img/icons/arrow-round-back.svg');
                    background-position: center center;
                    background-size: 40% auto;
                    cursor: pointer;
                    transition-duration: 0.2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.1);
                    transform: scale(1.1);
                }
                }
                .file-name{
                    color: $gray-accessible-dark;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }
            .right-controls{
                display: flex;
                align-items: center;
                justify-content: end;
                position: fixed;
                top: 8px;
                right: 0px;
                width: 8px*40;
                height: 8px*3;
                margin: 8px*2;
                .icon{
                    padding: 8px*2.5;
                    border-radius: 100%;
                    background-position: center center;
                    background-size: 50% auto;
                    cursor: pointer;
                    transition-duration: 0.2s;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                        transform: scale(1.1);
                    }
    
                }
                .download{
                    opacity: 0.2;
                    cursor: not-allowed;

                    background-image: url('../../assets/img/icons/download.svg');
                }
                .share{
                    opacity: 0.2;
                    cursor: not-allowed;

                    background-image: url('../../assets/img/icons/share.svg');
                }
                .set-cover{
                    
                    padding: 8px*1 8px*2;
                    border-radius: 8px*2;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                        transform: scale(1);
                    }
                }
            }
            .center-controls{
                .magnifier{
                    display: flex;
                    align-items: center;
                    position: fixed;
                    top: 8px*2;
                    left: 50vw;
                    gap:8px;
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;
                    padding: 4px;
                    transform: translateX(-50%);
                    .zoom-out{
                        padding: 8px*2;
                        width: 8px*3;
                        height: 8px*3;
                        border-radius: 6px;
                        background-image: url('../../assets/img/icons/minus.svg');
                        background-size: 50%;
                        background-position: center center;
                        opacity: 0.6;
                        cursor: pointer;
                        transition-duration: 0.2s;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.1);
                            opacity: 1;
                        }
                    }
                    .zoom-value{
                        font-weight: 600;
                        color: $gray-accessible-dark;
                    }
                    .zoom-in{
                        padding: 8px*2;
                        width: 8px*3;
                        height: 8px*3;
                        border-radius: 6px;
                        background-image: url('../../assets/img/icons/plus.svg');
                        background-size: 50%;
                        background-position: center center;
                        opacity: 0.6;
                        cursor: pointer;
                        transition-duration: 0.2s;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.2);
                            opacity: 1;
                        }
                    }
                    .zoom-reset{
                        position: absolute;
                        top: 8px;
                        right: 0;
                        padding: 4px 12px;
                        border-radius: 4px;
                        font-size: 0.9rem;
                        background-color: $gray6-accessible-dark;
                        border: 1px solid $gray6-accessible-dark;
                        z-index: -1;
                        opacity: 0;
                        
                        transition-duration: 0.2s;
                        // cursor for reset
                        cursor: pointer;
                        &.show{
                            opacity: 0.6;
                            right: -8px*1.5;
                            transform: translateX(100%);
                            transition-duration: 0.2s;
                        }
                        &:hover{
                            border: 1px solid $gray4-accessible-dark;
                        }
                    }
                }
            }
        }
        &.bottom{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: space-between;
            justify-items: center;
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 8px*6;
        }
    }
}
.selected-button{
    display: flex;
    gap: 8px;
    padding: 8px;
    padding-right: 8px*2;
    border-radius: 8px*4;
    border: 1px solid $dark-0;
    cursor: pointer;
    .icon{
        width: 8px*2;
        height: 8px*2;
        &.not-selected{
            
            background-image: url('../../assets/img/icons/heart-dislike.svg');
            background-position: center;
            background-size: 100%;
        }
        &.selected{
            
            background-image: url('../../assets/img/icons/heart.svg');
            background-position: center;
            background-size: 100%;
        }
    }
    &:hover{
        .icon{
            &.selected{
                
                background-image: url('../../assets/img/icons/heart-dislike.svg');
                background-position: center;
                background-size: 100%;
            }
            &.not-selected{
                
                background-image: url('../../assets/img/icons/heart.svg');
                background-position: center;
                background-size: 100%;
            }

        }
    }
}
.shared-collection .preview{

    top: 0px;
    left: 0px;
}

@media only screen and (max-width: 1200px) {
    .App{
        .preview{
            left: -8px*8;
            top: -($header-height );
          }
    }
}
@media only screen and (max-width: 520px) {
    .App{
        .preview{
            left: -8px*0;
            top: -($header-height );
            .image-wrap{
                .image{
                    height: 100vh;
                    width: 100vw;
                    background-position: center;
                    transition: background-size 0.1s ease;
                    background-size: 100% auto;
            
                }
            }
          }
    }
}