@import '../../style/variables';
.preview-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
  }
.App .preview{
    position: fixed;
    /* top: -8px*31.5;
    left: -8px*28.2; */
    left:0;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.97);
    backdrop-filter: blur(4px);
    overflow: hidden;
    .image-wrap{
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-items: center;
        .image{
            height: calc(100vh);
            width: 100vw;
            background-position: center;
            transition: background-size 0.1s ease;
            background-size: 100% auto;
        }
    }
    .controls{
        width: 100%;
        .prev{
            position: fixed;
            top: 50vh;
            left: 0px;
            width: 8px*5;
            height: 8px*5;
            margin: 8px*2;
            background-image: url('../../assets/img/icons/back.png');
            background-size: contain;
            opacity: 0.4;
            transition-duration: 0.2s;
            filter: drop-shadow(1px 1px 2px #000000);


            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        .next{
            position: fixed;
            top: 50vh;
            right: 0vh;
            width: 8px*5;
            height: 8px*5;
            margin: 8px*2;
            background-image: url('../../assets/img/icons/back.png');
            background-size: contain;
            transform: rotate(180deg);
            opacity: 0.4;
            transition-duration: 0.2s;
            filter: drop-shadow(1px 1px 2px #000000);
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        &.top{
            position: fixed;
            top: -8px;
            width: 100vw;
            transform: translateY(0%);
            transition-duration: 0.2s;
            
            .left-controls{
                display: flex;
                align-items: center;
                position: fixed;
                top: 8px;
                left: 0px;
                width: 8px*40;
                height: 8px*3;
                margin: 8px*2;
                transition-timing-function: ease-out;

                    transition-duration: 0.5s;
                .back{
                    padding: 8px*2.5;
                    margin-right: 8px*2;
                    border-radius: 100%;
                    background-image: url('../../assets/img/icons/arrow-round-back.svg');
                    background-position: center center;
                    background-size: 60% auto;
                    filter: drop-shadow(0 0 4px  rgba(0, 0, 0, 0.8));
                    cursor: pointer;
                    transition-duration: 0.2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.1);
                    transform: scale(1.1);
                }
                }
                .file-name{
                    color: white;
                    opacity: 0.5;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    font-size: 0.9rem;
                    font-weight: 600;
                    transition-duration: 0.2s;
                    transition-delay: 0.5s;
                }
            }
            .right-controls{
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: end;
                position: fixed;
                top: 8px;
                right: 0px;
                height: 8px*3;
                margin: 8px*2;
                transition-duration: 0.5s;
                transition-timing-function: ease-out;
                .icon{
                    padding: 8px*2;
                    border-radius: 100%;
                    background-position: center center;
                    background-size: 50% auto;
                    cursor: pointer;
                    transition-duration: 0.2s;
                    &.options{
                            background-color: none;
                        }
                    
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                        transform: scale(1.1);
                        &.options{
                            background-color: none;
                        }
                    }
    
                }
                .download{
                    opacity: 0.9;
                    cursor: not-allowed;

                    background-size: 70% auto;
                    filter: drop-shadow(0 0 4px  rgba(0, 0, 0, 0.8));
                    background-image: url('../../assets/img/icons/download.svg');
                }
                .share{
                    opacity: 0.2;
                    cursor: not-allowed;

                    background-image: url('../../assets/img/icons/share.svg');
                }
                .set-cover{
                    
                    padding: 8px*1 8px*2;
                    border-radius: 8px*2;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                        transform: scale(1);
                    }
                }
            }
            .center-controls{
                .magnifier{
                    display: flex;
                    align-items: center;
                    position: fixed;
                    top: 8px*2;
                    left: 50vw;
                    gap:8px;
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;
                    padding: 4px;
                    transform: translateX(-50%);
                    .zoom-out{
                        padding: 8px*2;
                        width: 8px*3;
                        height: 8px*3;
                        border-radius: 6px;
                        background-image: url('../../assets/img/icons/minus.svg');
                        background-size: 50%;
                        background-position: center center;
                        opacity: 0.6;
                        cursor: pointer;
                        transition-duration: 0.2s;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.1);
                            opacity: 1;
                        }
                    }
                    .zoom-value{
                        font-weight: 600;
                        color: $gray-accessible-dark;
                    }
                    .zoom-in{
                        padding: 8px*2;
                        width: 8px*3;
                        height: 8px*3;
                        border-radius: 6px;
                        background-image: url('../../assets/img/icons/plus.svg');
                        background-size: 50%;
                        background-position: center center;
                        opacity: 0.6;
                        cursor: pointer;
                        transition-duration: 0.2s;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.2);
                            opacity: 1;
                        }
                    }
                    .zoom-reset{
                        position: absolute;
                        top: 8px;
                        right: 0;
                        padding: 4px 12px;
                        border-radius: 4px;
                        font-size: 0.9rem;
                        background-color: $gray6-accessible-dark;
                        border: 1px solid $gray6-accessible-dark;
                        z-index: -1;
                        opacity: 0;
                        
                        transition-duration: 0.2s;
                        // cursor for reset
                        cursor: pointer;
                        &.show{
                            opacity: 0.6;
                            right: -8px*1.5;
                            transform: translateX(100%);
                            transition-duration: 0.2s;
                        }
                        &:hover{
                            border: 1px solid $gray4-accessible-dark;
                        }
                    }
                }
            }
        }
        &.middle{
            position: absolute;
            top:0;
        }
        &.bottom{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: space-between;
            justify-items: center;
            position: fixed;
            bottom: 0px;
            width: 100%;
            margin-bottom: 8px*3;
            background: none;
            border:none;
            .left-controls{
                display: flex;
                gap:8px*2;
                .icon{
                    display: flex;
                    gap: 8px;
                    padding: 8px;
                    padding-right: 16px;
                    padding-left: 16px;
                    border-radius: 32px;
                    border: 1px solid #53535370;
                    background-color: rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }
            .right-controls{
                display: flex;
                gap:8px*2;
                .icon{
                    display: flex;
                    gap: 8px;
                    padding: 8px;
                    padding-right: 16px;
                    padding-left: 16px;
                    border-radius: 32px;
                    border: 1px solid #53535370;
                    background-color: rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }
            .icon{

            color: $gray-accessible-light;
            }
            
        }
        &.hide{
                .left-controls{
                    left: -8px*50;
                    transition-duration: 1s;
                }
                .right-controls{
                    right: -8px*50;
                    transition-duration: 1s;
                }
                .next{
                    right: -8px*10;
                    transition-duration: 1s;
                    transition-delay: 0.4s;
                }
                .prev{
                    left: -8px*10;
                    transition-duration: 1s;
                    transition-delay: 0.2s;
                }
        }
        &:hover{
            .next{
                    right: -8px*0;
                }
            .prev{
                    left: -8px*0;
                }
        }
    }
} 
.guide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    animation: swipe-guide-bg-fadeout 1.2s ease-out;
    z-index: 51;
    &.swipe-guide{
        .swipe-animation-wrapper{
            width: 8px*20;
            height: 8px*5;
            position: absolute;
            bottom: 8px*10;
            left: calc(50vw - 8px*5);
            .swipe-animation{
                position: relative;
                width: 8px*0;
                height: 8px*2;
                margin-left: 0;
                border-radius: 8px*2;
                background-color: rgba(255, 255, 255, 0.4);
                animation:preview-swipe-animation 2s infinite;
                animation-delay: 0.2s;
            }
            @keyframes preview-swipe-animation  {
                0%{
                    width: 8px*0;
                    left: 8px*18;
                    background-color: rgba(255, 255, 255, 5);
                }
                30%{
                    width: 8px*20;
                    left: -8px*8;
                    background-color: rgba(255, 255, 255, 0.2);
                    animation-timing-function: ease-out;
                }
                60%{
                    width: 8px*2;
                    left: -8px*16;
                    background-color: rgba(255, 255, 255, 0.0);
                }
                100%{
                    width: 8px*0;
                    left: -8px*32;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
        }
    }

}
.selected-button{
    display: flex;
    gap: 8px;
    padding: 8px;
    padding-right: 8px*2;
    border-radius: 8px*4;
    border: 1px solid $dark-0;
    cursor: pointer;
    .icon{
        width: 8px*2;
        height: 8px*2;
        &.not-selected{
            
            background-image: url('../../assets/img/icons/heart-dislike.svg');
            background-position: center;
            background-size: 100%;
        }
        &.selected{
            
            background-image: url('../../assets/img/icons/heart.svg');
            background-position: center;
            background-size: 100%;
        }
    }
    &:hover{
        .icon{
            &.selected{
                
                background-image: url('../../assets/img/icons/heart-dislike.svg');
                background-position: center;
                background-size: 100%;
            }
            &.not-selected{
                
                background-image: url('../../assets/img/icons/heart.svg');
                background-position: center;
                background-size: 100%;
            }

        }
    }
}
.shared-collection .preview{

    top: 0px;
    left: 0px;
    .controls{
        &.top .right-controls .set-cover,.delete{
            display: none;
        }
        &.bottom {
            display: none;

        }
    }
}
@keyframes swipe-guide-bg-fadeout{
    0%{
        opacity: 1;
    }
    85%{
        opacity:10;
    }
    100%{
        opacity: 0;
    }
    
}
@media only screen and (max-width: 1200px) {
    .App{
        .preview{
            left: -8px*8;
            top: -($header-height );
          }
    }
    .project-collection .preview{

        top: 0;
        left: 0;
    } .shared-collection .preview{

        top: -8px*0;
        left: -8px*0;
    }
}

// Mobile
@media only screen and (max-width: 520px) {
    .App{
        .project-collection{
                
        .preview{
            left: -8px*0;
            top: -8px*0}
        }
        .preview{
            left: -8px*0;
            top: -($header-height );
            
            .image-wrap{
                .image{
                    height: 100vh;
                    width: 100vw;
                    background-position: center;
                    transition: background-size 0.1s ease;
                    background-size: 100% auto;
            
                }
            }
            .controls{
                .prev{
                    left: 0px;
                }
                .next{
                    right: 0vh;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
          }
          .shared-collection .preview{

            top: 0px;
            left: 0px;
        }
    }
}