@import '../../../style/variables';
.advanced-toggle {
    cursor: pointer;
    color: $green-default-dark;
    text-align: left;
    margin-top: 0px;
  
    &:hover {
      text-decoration: underline;
    }
  }