@import '../../style/variables';
@import '../../style/components';
.App .select-project{
  *{
    color: rgba(0, 0, 0, 0.9);
  }
  .button{
    color: rgba(255, 255, 255, 0.9);

  }
  section{
    ol{
            
      li{
        opacity: 0.2;
        position: absolute;
        .absolute.right-2.top-2{
          position: absolute;
          right: 0 !important;
          left: auto;
          top: 0;
          
        }
        &:hover{
            opacity: 1;
        }
            // Set the initial opacity
          @for $i from 1 through 10 {
            // Calculate opacity with an exponential decay factor
            $opacity: 1 * (0.9 * (10 - $i) / 40); // Adjust decay factor to your preference
            &:nth-child(#{$i}) {
              opacity: $opacity;
            }
          }
          &:nth-child(1) {
            opacity: 0.8;
          }
        
      
      }
    }
  }
  .gallery-info{
    position: relative;
    z-index: 3;
    text-align: center;
    .projet-name{
      font-family: 'Lastri', sans-serif;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.9);
    }
    p{
      
      color: rgba(0, 0, 0, 0.7);
    }

  }
  .project-header{
    display: grid;
    position: relative;
    background-position: center 30%;
    background-size: 100%;
    .back-btn {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 2;
    }
    .banner{
      align-items: center;
      max-height: calc(100vh - 8px*60);
      max-width: calc(100vw);
      position: relative;
      top: 0;
      margin: 0 auto;
      margin-bottom: 8px*5;
      background:  linear-gradient((180deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 1) 90%,rgba(255, 255, 255, 1) 100%));
      z-index: 1;
    }
    
  }
  .selected-completed{
    margin: 0 auto;
    margin-top: 8px*4;
    text-align: center;
    h4{
      font-size: 2rem;
    }
    .completed-animation{
      
    }
    .selected-files-count{
      margin-top: 8px*2;
      margin-bottom: 8px*2;
      color: $dark-0;
      b{
        color: $dark-3;

      }
    }
    .button-label{
      color: $gray-accessible-dark;
      margin-top: 8px*4;
    }
  }
  .shared-collection{
      padding: 0 8px*1;
      .gallery:hover
      {transform: translate(0px, 0px) scale(1);
      }
      .view-control{
        justify-content: center;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 8px*4;
        margin-bottom: 8px*0;
        font-size: 0.7rem;
        width: calc(100% - 8px*1);
        overflow-x: scroll;
        .control-wrap{

        }
        .controls{
          box-shadow: none;
          border: 1px solid $dark-0;
          background: linear-gradient(120deg, #dfdfdf -80%, #ececec 20%, #eaeaea 60%, #f3f3f3 100%);
          .control{
            &.active{
              background-color: white;
              color: black;
          border: 1px solid $dark-3;
          box-shadow: none;
            }
          }
        }
      }
      .selection-completed-label{
        margin-top: 8px*2;
        text-align: center;
        color: $green-accessible-light;
      }
  }
  .collections-panel{
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    overflow-x :scroll;
    margin-top: 8px*3;
    padding: 0 8px;
    z-index: 1;
    .collection-tab{
      display: flex;
      gap: 8px*1;
      padding: 8px 8px*5 ;
      margin-left: -1px;
      background-color: $light-3;
      border-radius: 0px;
      border: 1px solid none;
      border-bottom: 2px solid $gray5-accessible-light;
      color: $gray3-accessible-light ;
      white-space: nowrap;
      .photo-count-label{
        opacity: 0;
        width: 0px;
      }
      &.client-selection-tab{
        border: 1px solid $green-default-light;
        padding: 8px*0.5 8px*1.5;
        font-size: 0.9rem;
        border-radius: 4px;
        a{
        padding: 0;
        color: $green-accessible-light ;
      }

      }
      a{
        padding: 0;
        color: $gray-accessible-light;
      }
      &.active{
        border-bottom: 2px solid $dark-3;
        z-index: 10 !important;
        .photo-count-label{
          opacity: 0.5;
          margin-left: 6px;
          margin-right: 8px;
        }
        a{
          color: black;
        }
      }

    }
    .collection-tab:nth-child(n) {
      z-index: calc(5 - var(--n, 0));
    }
    
    .collection-tab:nth-child(1) {
      --n: 1;
    }
    
    .collection-tab:nth-child(2) {
      --n: 2;
    }
    
    .collection-tab:nth-child(3) {
      --n: 3;
    }
    
    .collection-tab:nth-child(4) {
      --n: 4;
    }
  }
  .no-images-message{
    margin: 8px*5 8px 8px 8px;
    text-align: center;
  }
  .gallery{

    margin: 0 auto;
    margin-top: 8px*1;
    padding: 8px;
    max-width: 8px*140;
    .photos{
      width: 100%;
      display: grid;
      
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // This will create a responsive grid
      gap: 8px;
      .photo{
        min-height: 200px;
        width: calc(100% - 8px*1);
        position: relative;
        background-color: $light-3;
        border-radius: 2px;
        background-size: cover;
        border: 1px solid transparent;
        .img{
          
          width: 100%;
        }
        &:hover input[type="checkbox"] {
          opacity: 1;
          transform: scale(1.05);
        }
      input[type="checkbox"] {
        opacity: 0.5;
        position:absolute;
        top: 8px;
        left: 8px;
        appearance: none;
        width: 8px*3;
        height: 8px*3;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.2) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="rgba(255, 255, 255, 0)"><path d="M1 7 L5 11 L13 1" stroke-width="2" stroke="white" fill="transparent"/></svg>');
        outline: none;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        // webkit background shadow
        cursor: pointer;
        transform: scale(1);
        transition-duration: 0s;
        transition-timing-function: ease-out;
        -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 2px 2px rgba(38, 38, 38, 0.4);
      }
      
      input[type="checkbox"]:checked {
        opacity: 1;
        background: $blue-default-light url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white"><path d="M1 7 L5 11 L13 1" stroke-width="2" stroke="white" fill="transparent"/></svg>') no-repeat center;
        background-size: 50%;
        border-color: $blue-accessible-dark;
        transform: scale(1.1);
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
        transition-duration: 0.1s;
      }
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px*1;
    margin-top: 8px*2;
    width: calc(100% - 8px*1);
    overflow-x: scroll;
    
    .button{
      text-shadow: none;
      &:first-child{
        margin-right: 8px*1;
      }
      &.selected{
        border: 1px solid $green-accessible-dark;
        color: $green-accessible-dark;
      }
      &:last-child{
        margin-left: 8px*1;
      }
    }
    .send{
      background-color: $green-accessible-dark;
    }
  }
}

@media only screen and (max-width: 830px) {
  .select-project{
    .shared-collection{
      padding: 8px;
    }
    .gallary{
      .photos{
        grid-template-columns: 1fr;
        .photo{
        }
      }
    }
  }
}
@media only screen and (max-width: 520px) {
  .App .select-project{
    .collections-panel{
      max-width: 99vw;
      justify-content: start;
      .collection-tab{
        padding: 8px;
        a{
          font-size: 0.9rem;
        }
      }
      &.client-selection{
        justify-content: center;

      }
    }
    .shared-collection{
      padding: 8px;
      
    }
    .gallary{
      .photos{

        justify-content: start;
        grid-template-columns: 1fr;
        .photo{
        }
      }
    }
    .project-header .banner{
    }
    .control-label.label-all-photos{
    }
    .pagination{
      justify-content: end;
    }
  }
}