@import '../../style/variables';
@import '../../style/components';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.App .select-project{
  *{
    color: rgba(0, 0, 0, 0.9);
  }
  .button{
  }
  .gallery-info{
    position: relative;
    z-index: 3;
    text-align: center;
    .projet-name{
        font-family: 'Great Vibes', cursive;
        font-size: 4rem;
        color: rgba(0, 0, 0, 0.9);
    }
    p{
      
      color: rgba(0, 0, 0, 0.7);
    }

  }
  .project-header{
    display: grid;
    position: relative;
    background-position: center 30%;
    background-size: 100%;
    .banner{
      align-items: center;
      max-height: calc(100vh - 8px*60);
      max-width: calc(100vw);
      position: relative;
      top: 0;
      margin: 0 auto;
      margin-bottom: 8px*5;
      background:  linear-gradient((180deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 1) 90%,rgba(255, 255, 255, 1) 100%));
      z-index: 1;
    }
    
  }
  .selected-completed{
    margin: 0 auto;
    text-align: center;
    .completed-animation{
      
    }
  }
  .shared-collection{
      padding: 0 8px*1;
  }
  .collections-panel{
      display: flex;
      justify-content: center;
      margin-top: 8px*5;
      transform: translate(8px*1, 8px*0);
      z-index: 1;
      .collection-tab{
        display: flex;
        gap: 8px*1;
        padding: 8px 8px*2 ;
        margin-left: -1px;
        background-color: $light-2;
        border-radius: 4px;
        @include boxShadow;
        border: 1px solid $gray3-default-light;
        color: $gray3-accessible-light ;
        a{
          padding: 0;
          color: $gray-accessible-light;
        }
        &.active{
          border: 1px solid $gray2-default-dark;
          z-index: 10 !important;
          a{
            color: black;
          }
          background-color: $light-3;
        }

      }
      .collection-tab:nth-child(n) {
        z-index: calc(5 - var(--n, 0));
      }
      
      .collection-tab:nth-child(1) {
        --n: 1;
      }
      
      .collection-tab:nth-child(2) {
        --n: 2;
      }
      
      .collection-tab:nth-child(3) {
        --n: 3;
      }
      
      .collection-tab:nth-child(4) {
        --n: 4;
      }
    }
  .no-images-message{
    margin: 8px*5 8px 8px 8px;
    text-align: center;
  }
  .gallary{

    margin: 0 auto;
    margin-top: 8px*2;
    padding: 8px;
    max-height: calc(100vh - 8px*40);
    max-width: 8px*140;
    .photos{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // This will create a responsive grid
      gap: 8px;
      .photo{
        position: relative;
        background-color: $light-0;
        border-radius: 2px;
        background-size: cover;
        border: 1px solid transparent;
        .img{

          width: 100%;
        }
        &:hover input[type="checkbox"] {
          opacity: 1;
          transform: scale(1.05);
        }
      input[type="checkbox"] {
        opacity: 0.5;
        position:absolute;
        top: 8px;
        left: 8px;
        appearance: none;
        width: 8px*3;
        height: 8px*3;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.353) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="rgba(255, 255, 255, 0)"><path d="M1 7 L5 11 L13 1" stroke-width="2" stroke="white" fill="transparent"/></svg>') no-repeat center;
        outline: none;
        cursor: pointer;
        transform: scale(1);
        background-size: 50%;
        transition-duration: 0s;
        transition-timing-function: ease-out;
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
      }
      
      input[type="checkbox"]:checked {
        opacity: 1;
        background: $blue-default-light url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white"><path d="M1 7 L5 11 L13 1" stroke-width="2" stroke="white" fill="transparent"/></svg>') no-repeat center;
        background-size: 50%;
        border-color: $blue-accessible-dark;
        transform: scale(1.1);
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
        transition-duration: 0.1s;
      }
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px*1;
    margin-top: 8px*2;
    
    .button{
      text-shadow: none;
      &:first-child{
        margin-right: 8px*1;
      }
      &.selected{
        border: 1px solid $green-accessible-dark;
        color: $green-accessible-dark;
      }
      &:last-child{
        margin-left: 8px*1;
      }
    }
    .send{
      background-color: $green-accessible-dark;
    }
  }
}

@media only screen and (max-width: 830px) {
  .select-project{
    .shared-collection{
      padding: 8px;
    }
    .gallary{
      .photos{
        grid-template-columns: 1fr;
        .photo{
        }
      }
    }
  }
}