@import '../../style/variables';

.home{
    z-index: none;
    .welcome-section{
        padding: 8px*2;    
        display: grid;
        grid-template-columns: auto 1fr 8px*20;
        justify-content: space-between;
        font-family: "Product Sans";

    align-items: center;
        .welcome-message-top{
            display: FLEX;
                justify-content: start;
                margin-top: 8px;
                margin-bottom: 8px;
                h1{
                    color: $gray-default-light !important;
                font-weight: 500 !important;
                font-size: 3rem !important;

            opacity: 0;
            animation: fadeInLeft 0.5s ease-out 0s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            }
            
        }
        .welcome-message{
            font-weight: 600;
            color: $gray2-default-dark;
            &:last-child{
                font-weight: 500;
                margin-top: -8px*2;
                color: $gray4-default-dark;
                opacity: 0;
                font-size:2rem;
                animation: fadeInLeft 0.5s ease-out 0.05s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
            }
            &.sub-message{
            }
            span{
                
            }
            .actions{
                display: flex;
                justify-content: flex-end;
            }
        }
        .actions{
            position: absolute;
            /* top: 8px*12 ; */
            right: 8px*5;
            display: flex;
            justify-content: flex-end;
            z-index: 10;
            
        }
        

    }
    .section{
        padding: 8px;
        opacity: 0;
        transform: translateX(8px);
        transition: opacity 0.5s, transform 0.5s;
        
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                $delay: 0.1*($i - 1) + 0.5s * ($i - 1);
                animation: fadeInUp 0.1s ease-out $delay;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
                .projects{
                    .project{
                        opacity: 0;
                    transform: translateY(-8px);
                    transition: opacity 1s, transform 0.5s;
                    
                    @for $j from 1 through 10 {
                        &:nth-child(#{$j}) {
                            $delay2: 0.1s*($i - 2) + 0.6s + 0.05s * ($j - 1);
                            animation: fadeInUp 0.5s ease-out $delay2;
                            animation-fill-mode: forwards;
                            animation-timing-function: ease-out;
                        }
                    }
                    }
                }
            }
        }
        .section-heading{
            display: inline-block;
            width: auto;
            font-weight: 400;
            padding: 8px*1 0;
            padding-top: 0;
            padding-right: 8px*2;
            margin-left: 8px;
            margin-top: 8px*0;
            margin-bottom: 8px*3;
            border-bottom: 2px solid $gray6-default-dark;
            color: $gray3-default-light;
            a{
                font-size: 0.9rem;
                font-weight: 400;
                float: right;
                color: $green-default-dark;
                text-decoration: underline;
                margin: 0 8px*1;
            }
        }
        .projects{
            padding: 0 8px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 8px*3;
            width: 100%;
            
            .message{
                color: $gray4-default-dark;
            }
            
            &.completed{
                h3::after{
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-left: 8px*1;
                    content: 'Client Approved';
                    color: $gray3-default-dark;
                }
                .project{
                    grid-template-columns: auto 8px*16;

                    .project-options{
                        align-items: center;
                    }
                }
            }
        }
        &.approval-pending{
            .project-options{
                display:grid !important;
            }
        }
    }
    
}

.home-header{
    .notifications{
        position: fixed;
        top:8px*2;
        right:8px*2;
        width: 8px*4;
        height: 8px*4;
        z-index: 99;
        background-image: url('https://img.icons8.com/ios-filled/50/FFFFFF/appointment-reminders--v1.png');
        background-size: 90%;
        transform: rotate(45deg);
        .new{

            position: absolute;
            top:8px*1.1;
            right:8px*0.2;
            width: 8px*1;
            height: 8px*1;
            border-radius: 50%;
            background-color: red;
            border: 1px solid black;
        }
    }
}
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(8px*4);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 1500px) {
    .home .section .projects{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1200px) {
    .home .section .projects{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 1080px) {
    .home .section .projects{
        grid-template-columns: 1fr 1fr 1fr ;
        .project{
            .project-cover{
            }
            .project-details{
            }
        }
    }
}
@media only screen and (max-width: 860px) {
    .home {
        .section .projects{
            grid-template-columns: 1fr 1fr  ;
        }
        .welcome-section{
            grid-template-columns: 1fr;
            .welcome-message{
                &:last-child{

                }
            }
            .actions{
                justify-content: flex-start;
                margin-top: 8px*4;
            }
        }

    }
}
  @media only screen and (max-width: 580px) {
    .home .section .projects{
        grid-template-columns: 1fr  ;
        .project{
            .project-cover{
                width: 8px*15
            }
            .project-details{
                margin-left: 8px*2;
                .empty-message {
                    display: none;
                }
            }
        }
    }
}
  @media only screen and (max-width: 520px) {

    .home .section .projects{
        grid-template-columns: 1fr  ;
    }
    .home 
    {
        .welcome-section{
            grid-template-columns: 1fr;
            margin-top:8px;
            .welcome-message{
                &:last-child{
                    margin-top: 8px*1;
                    line-height: 2.8rem;

                }
                &.sub-message{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-bottom: 8px*1;

                }
            }
            .actions{
                position: relative;
                right: 0;
                justify-content: flex-start;
                margin-top: 8px*2;
            }
        }
        .section .projects{
            grid-template-columns: 1fr;
        }
    }
  }