@import '../../style/variables';

.home{
    z-index: none;
    .welcome-section{
        padding: 8px*2;    
        display: grid;
        grid-template-columns: auto 1fr 8px*20;
        justify-content: space-between;
        font-family: "Product Sans";

    align-items: center;
        .welcome-message-top{
            display: FLEX;
                justify-content: start;
                margin-top: 8px;
                margin-bottom: 8px;
                h1{
                    color: $gray-default-light !important;
                font-weight: 500 !important;
                font-size: 3rem !important;

            opacity: 0;
            animation: fadeInLeft 0.5s ease-out 0s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            }
            
        }
        .welcome-message{
            font-weight: 600;
            color: $gray2-default-dark;
            &:last-child{
                font-weight: 500;
                margin-top: -8px*2;
                color: $gray4-default-dark;
                opacity: 0;
                font-size:2rem;
                animation: fadeInLeft 0.5s ease-out 0.05s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
            }
            &.sub-message{
                animation-delay: 0.08s;
            }
            span{
                
            }
            .actions{
                display: flex;
                justify-content: flex-end;
            }
        }
        .actions{
            position: absolute;
            /* top: 8px*12 ; */
            right: 8px*5;
            display: flex;
            justify-content: flex-end;
            z-index: 10;
            
        }
        

    }
    .section{
        padding: 8px;
        margin-bottom: 8px*2;
        opacity: 0;
        transform: translateX(8px);
        transition: opacity 0.5s, transform 0.5s;
        
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                $delay: 0.1*($i - 1) + 0.5s * ($i - 1);
                animation: fadeInUp 0.1s ease-out $delay;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
                .projects{
                    .project{
                        opacity: 0;
                        transform: translateY(-8px);
                        transition: opacity 1s, transform 0.5s;
                        
                    
                    @for $j from 1 through 10 {
                        &:nth-child(#{$j}) {
                            $delay2: 0.1s*($i - 2) + 0.6s + 0.05s * ($j - 1);
                            animation: fadeInUp 0.5s ease-out $delay2;
                            animation-fill-mode: forwards;
                            animation-timing-function: ease-out;
                        }
                        
                    }
                    }
                }
                
            }
        }
        
        .section-heading{
            display: inline-block;
            width: auto;
            font-weight: 400;
            padding: 8px*1 0;
            padding-top: 0;
            padding-right: 8px*2;
            margin-left: 8px;
            margin-top: 8px*0;
            margin-bottom: 8px*3;
            border-bottom: 2px solid $gray6-default-dark;
            color: $gray3-default-light;
            transition-duration: 0.2s;
            a{
                font-size: 0.9rem;
                font-weight: 400;
                float: right;
                color: $green-default-dark;
                text-decoration: underline;
                margin: 0 8px*1;
            }
        }
        .projects{
            padding: 0 8px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 8px*4;
            width: 100%;
            
            .message{
                color: $gray4-default-dark;
            }
            
            &.completed{
                h3::after{
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-left: 8px*1;
                    content: 'Client Approved';
                    color: $gray3-default-dark;
                }
                .project{
                    grid-template-columns: auto 8px*16;

                    .project-options{
                        align-items: center;
                    }
                }
            }
            &.selection{
                grid-template-columns: 1fr 1fr 1fr;
                gap: 8px*2;
                .project{
                    grid-template-columns: 8px*12 auto;
                }
                .project-details{
                    gap: 8px;
                    .details-top{
    
                        .tags{
                            display:none;
                        }
                        .info-bar{
                            display:none;
                        }
                    } 
                    .project-summary{
                        height: none;
                    }
                } 
                .project-cover{
                    min-height: 8px*2;
                    width:  8px*12;
                }
            }
        }
        .shoots{
            display: flex;
            gap: 8px*2;
            .time{
                min-width: 8px*17;
                position: relative;
                @include boxed;
                border: 1px solid  $dark-1-5;
                border-top: 1px solid  $dark-1;
                border-left: 1px solid  $dark-1;
                display: grid;
                grid-row: 1/3;
                align-content: center;
                justify-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: $dark-3;
                padding: 8px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                background: linear-gradient(140deg, #171717 50%, #101010 100%);
                .date{
                    margin-bottom: 8px*0.5;
                    border-radius: 4px;
                    border-radius: 4px;
                    padding: 4px 8px*2;
                    padding-top: 8px;
                    background-color: $dark-1;
                    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
                    border: 1px solid $gray3-default-dark;
                    border-left: 1px solid $gray2-default-dark;
                    border-top: 1px solid $gray2-default-dark;
                
                    h5{
                        text-align: center;
                        text-transform: uppercase;
                        margin-top: -2px;
                        color: $gray2-default-dark;
                        font-size: 0.8rem;
                    }
                    h1{
                        font-size: 1.5rem;
                        letter-spacing: 0.1rem;
                        margin-top: -4px;
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4)
                    }
                    .weekday{
                        text-transform: uppercase;
                        color: $gray-default-dark;
                        font-size: 0.8rem;
                        margin-top: -2px;
                    }
                    
                }
                p{
                    color: $gray3-default-dark;
                    font-size: 0.8rem;
                    margin-top: -2px;
                }
                .in-ago-event-days{
                    margin-bottom: 4px;
                }
                .event-name-label{
                    color: $gray4-default-light;
                    font-weight: 600;
                    font-size: 0.9rem;
                    margin-top: 4px;
                    margin-bottom: 2px;
                }
                .event-type-label{
                    color: $gray-default-light;
                    font-weight: 400;
                    font-size: 0.8rem;
                    margin-bottom: 4px;
                }
                .location{
                    color: $gray2-default-dark;
                    margin-top: 0px;
                    &::before{
                        content: '.';
                        display: inline-table;
                        width: 8px*1.5;
                        height: 8px*2;
                        margin-right: 4px;
                        color: transparent;
                        background-image: url('https://img.icons8.com/material/48/FFFFFF/marker--v1.png');
                        background-position: center;
                        background-size:auto 80% ;
                        background-repeat: no-repeat;
                        opacity: 0.1;
                    }
                }
                .time-number{
                    color: $gray2-default-dark;
                    margin-top: 4px;
                    &::before{
                        content: '.';
                        display: inline-table;
                        width: 8px*1.5;
                        margin-right: 4px;
                        height: 8px*2;
                        color: transparent;
                        background-image: url('https://img.icons8.com/?size=100&id=70167&format=png&color=FFFFFF');
                        background-position: center;
                        background-size: 100% auto;
                        opacity: 0.1;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        &.approval-pending{
            .project-options{
                display:grid !important;
            }
        }
    }
    .project{
        &.new{
            animation-delay: 0.15s;
        }
        &.upload{
            animation-delay: 0.25s;
            margin-left: -8px*4;
        }

    }
    
}

.home-header{
    .notifications{
        position: fixed;
        top:8px*2;
        right:8px*2;
        width: 8px*4;
        height: 8px*4;
        z-index: 99;
        background-image: url('https://img.icons8.com/ios-filled/50/FFFFFF/appointment-reminders--v1.png');
        background-size: 90%;
        transform: rotate(45deg);
        .new{

            position: absolute;
            top:8px*1.1;
            right:8px*0.2;
            width: 8px*1;
            height: 8px*1;
            border-radius: 50%;
            border: 1px solid black;
        }
    }
}
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(8px*4);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 1500px) {
    .home .section .projects{
        grid-template-columns: 1fr 1fr 1fr;  
        &.selection{
            grid-template-columns:  1fr 1fr;  
        }
    }
}
@media only screen and (max-width: 1200px) {
    .home .section .projects{
        grid-template-columns: 1fr 1fr 1fr ;
        &.selection{
            grid-template-columns:  1fr 1fr;  
        }
    }
}
@media only screen and (max-width: 1080px) {
    .home .section .projects{
        grid-template-columns: 1fr 1fr 1fr ;
        &.selection{
            grid-template-columns:  1fr 1fr;  
        }
        .project{
            .project-cover{
            }
            .project-details{
            }
        }
    }
}
@media only screen and (max-width: 860px) {
    .home {
        .section .projects{
            grid-template-columns: 1fr 1fr  ;
        }
        &.selection{
            grid-template-columns:  1fr;  
        }
        .welcome-section{
            grid-template-columns: 1fr;
            .welcome-message{
                &:last-child{

                }
            }
            .actions{
                justify-content: flex-start;
                margin-top: 8px*4;
            }
        }

    }
}
  @media only screen and (max-width: 580px) {
    .home .section .projects{
        grid-template-columns: 1fr  ;
        .project{
            .project-cover{
                width: 8px*15
            }
            .project-details{
                margin-left: 8px*2;
                .empty-message {
                    display: none;
                }
            }
        }
    }
}
  @media only screen and (max-width: 520px) {

    .home .section .projects{
        grid-template-columns: 1fr  ;
        &.selection{
            grid-template-columns:  1fr ;  
        }
    }
    .home 
    {
        .project{
            &.upload{
                margin-left: 0;
            }
        }
        .welcome-section{
            grid-template-columns: 1fr;
            margin-top:8px;
            .welcome-message{
                &:last-child{
                    margin-top: 8px*1;
                    line-height: 2.8rem;

                }
                &.sub-message{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-bottom: 8px*1;

                }
            }
            .actions{
                position: relative;
                right: 0;
                justify-content: flex-start;
                margin-top: 8px*2;
            }
        }
        .section .projects{
            grid-template-columns: 1fr;
        }
        .section .shoots{
            width: 100%;
            overflow-x: scroll;
            padding-right: 8px*2;
            padding-bottom: 8px*2;
        }
    }
  }