@import '../../style/variables';


.projects-header,.teams-header{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    padding: 8px*1.5 8px*1.5;
    h1{

    animation: fadeInLeft 0.5s ease-out 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    }
    .actions{
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        animation: fadeInLeft 0.4s ease-out 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
}
.view-control{
    display:flex;
    margin: 8px 8px*1.5;
    font-size: 0.9rem;
    justify-content: space-between;
    .control-label{
      color: $gray3-default-dark;
      padding: 8px;
      &.label-all-photos{
        color: $gray2-default-dark;
      }
    }
    .controls{
        border-radius: $border-radius-1+1;
        transition-duration: 0.15s;
        background: linear-gradient(120deg, $dark-1 -80%, $dark-2 20%,$dark-2 60%, $dark-3 100%);
        border: 1px solid $gray6-accessible-dark;
        border-top: 1px solid $gray5-accessible-dark;
        border-bottom: 1px solid $gray6-accessible-dark;;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);;
        opacity: 0;
    
        animation: fadeInLeft 0.5s ease-out 0.05s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        &:hover{
          transition-duration: 0.1s;
        }
        display:flex;
        .control{
          padding: 6px 8px*1.5;
          font-weight: 400;
          border-radius: $border-radius-1;
          border-right: 1px solid rgba(255, 255, 255, 0.02);
          color: $gray4-accessible-dark;
          white-space: nowrap;
          cursor: pointer;
          transition-duration: 0.15s;
          &:hover{
              border-radius: 2px;
              background-color: $dark-2;
              color: $gray2-accessible-dark;
              transition-duration: 0.1s;
              &:last-child{
                  border-radius: 8px;
              }
          }
          &.active{
            color: $light-0;
            background-color: $dark-4;
            border: 1px solid $gray5-accessible-dark;
            border-top: 1px solid $gray3-accessible-dark;
            border-left: 1px solid $gray3-accessible-dark;
            border-bottom: 1px solid $gray5-accessible-dark;
            border-radius: 6px !important;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);;
            transform: scale(1.1);
            &:hover{
              background-color: $dark-1;
              border: 1px solid $gray3-accessible-dark;
              transition-duration: 0.1s;
            }
            
            .icon{
    
              background-size: 120%;
            }
          }
          &.disabled{
              opacity: 0.2;
            }
          .icon{
              width: 8px*1.8;
              height: 8px*1.8;
              background-position: center;
              background-size: 110%;
              &.card-view{
                  background-image: url('https://img.icons8.com/sf-black-filled/64/FFFFFF/four-squares.png');
              }
              &.list-view{
                  background-image: url('https://img.icons8.com/ios-filled/50/FFFFFF/list.png');
              }
          }
          
        }
      }
  }
  .projects {
    .section-heading{
        
        display: inline-block;
        width: auto;
        font-weight: 400;
        padding: 8px*1 0;
        padding-top: 0;
        padding-right: 8px*2;
        margin-left: 8px;
        margin-top: 8px*2;
        margin-bottom: 8px*1;
        border-bottom: 2px solid $gray6-default-dark;
        color: $gray3-default-light;
        transition-duration: 0.2s;
        opacity: 0;
        animation: fadeInUp 0.5s ease-out forwards;
        animation-delay: 0.5s;
    }
    .month-group {
      margin-bottom: 16px; // Simplified calculation of 8px * 2
      margin-top: 16px; // Simplified calculation of 8px * 2
      
      // Add staggered animation to the .month-name
      .month-name {
        padding: 8px 16px; // Simplified calculation of 8px * 2
        font-weight: 400;
        color: $gray-default-dark;
            margin-bottom: 8px*1;
        opacity: 0; // Start as invisible
  
        animation: fadeInUp 0.5s ease-out forwards;
        animation-delay: calc(0.4s + 0.5s * (var(--group-index) - 1)); // Dynamic delay based on parent index
      }

      .projects-list {
        padding: 8px 16px; // Simplified calculation of 8px * 2
        font-weight: 400;
        color: $gray-default-dark;
        
        .project{
                @for $i from 1 through 100 {
                    &:nth-child(#{$i}) {
                        animation: fadeInUp 0.5s ease-out calc( ( 0.45s + 0.3s * (var(--group-index) - 1) + ($i - 1) * 0.04s));
                        animation-fill-mode: forwards;

                    }
                }
        }
      }
    }
    .project{
        &.new{

            animation-duration: 0.6s;
        animation-delay: 0.65s;
        }
    }
  }
  
  
@keyframes delete-caution {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      /* transform: translateY(-8px); */
    }
    100% {
      opacity: 1;
      /* transform: translateY(0); */
    }
  }




  .projects-list{
    padding: 0 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px*3;
    width: 100%;
    padding: 8px*1.5;
    padding-top: 8px;
    
    .message{
        color: $gray4-default-dark;
    }
    
    &.completed{
        h3::after{
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 8px*1;
            content: 'Client Approved';
            color: $gray3-default-dark;
        }
        .project{
            grid-template-columns: auto 8px*16;

            .project-options{
                align-items: center;
            }
        }
    }
}
.teams-list{
    padding: 0 8px;
    display: grid;
    grid-template-columns: minmax(200px, 480px) minmax(200px, 480px) minmax(200px, 480px);
    gap: 8px*3;
    row-gap: 8px*4;
    width: 100%;
    padding: 8px*3;
    padding-top: 8px;
    
    .message{
        color: $gray4-default-dark;
    }
    
    &.completed{
        h3::after{
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 8px*1;
            content: 'Client Approved';
            color: $gray3-default-dark;
        }
        .project{
            grid-template-columns: auto 8px*16;

            .project-options{
                align-items: center;
            }
        }
    }
}

//write a media quer for divces less than 1200px
@media only screen and (max-width: 1800px) {
    .teams-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 1600px) {
    .teams-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr  ;
    }
}
@media only screen and (max-width: 1300px) {
    .teams-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr  ;
    }
}
@media only screen and (max-width: 1200px) {
    .teams-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 1080px) {
    .teams-list{
        grid-template-columns: 1fr 1fr  ;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 960px) {
    .teams-list{
        grid-template-columns: 1fr 1fr   ;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr  ;
    }
}
@media only screen and (max-width: 860px) {
    .teams-list{
        grid-template-columns: 1fr 1fr    ;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 640px) {
    .teams-list{
        grid-template-columns: 1fr  ;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr ;
    }
}
@media only screen and (max-width: 580px) {
    .teams-list{
        grid-template-columns: 1fr   ;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr ;
        
    }
    .projects-header .actions{
    }
}
@media only screen and (max-width: 480px) {
    .teams-list{
        grid-template-columns: 1fr  ;
    }
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr ;
    }
}