
@import '../../style/variables';
@import '../../style/components';

.project-dashboard{
	display: grid;
	grid-template-columns: auto auto;
	justify-content:start ;
	padding: 8px*2;
	gap: 8px*4;
	.headings{
		display: grid;
		grid-template-columns: 8px*26 auto;
	}
	.heading{
		margin: 8px*2 0;
		margin-top: 0;
		color: $gray2-default-light;
	}

	.box{
		position: relative;
		padding: 8px;
		@include boxed;
		border-radius: 8px;
		background-color: $dark-3;
		box-shadow: 1px 1px 4px  black;
	}
	.status{
		position: absolute;
		top: 0;
		right: 0;
		padding: 6px;
		.signal{
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $green-accessible-dark;
			box-shadow: 
				0px 0px 2px 2px  rgba(0, 0, 0, 0.5),
				0px 0px 4px  #95e5729f,
				0px 0px 2px 4px  #55a13415,
				0px 0px 8px 8px  #42951f21;
		}
		&.large{
			padding: 8px;.signal{
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $green-accessible-dark;
			}
		}
	}
	.circle{
		display: grid;
		justify-items: center;
		align-items: center;
		width: 8px*10;
		height: 8px*10;
		margin: 8px auto;
		background-color: $dark-3;
		border: 8px solid $gray-default-dark;
		border-radius: 50%;
		font-size: 1rem;
		font-weight: 600;
		text-shadow: 
		2px 2px 2px rgba(0, 0, 0, 0.8),
		0px 2px 12px rgba(7, 179, 7, 0.925);

		&.cyan{
			border: 5px solid $cyan-accessible-dark;
		}
		&.green{
			border: 5px solid $green-accessible-dark;
			box-shadow: 
				2px 2px 2px rgba(1, 17, 1, 0.5), 
				inset 2px 2px 2px rgba(1, 17, 1, 0.5), 
				2px 2px 4px rgba(4, 146, 4, 0.5), 
				inset 2px 2px 4px rgba(4, 146, 4, 0.5),
				2px 2px 16px rgba(4, 146, 4, 0.4,), 
				inset 2px 2px 16px rgba(4, 146, 4, 0.4,);
		}
		&.orange{
			border: 5px solid $orange-accessible-dark;
			box-shadow: 2px 2px 4px rgb(23, 15, 3);
		}
	}
	.gallery-overview{
		display: grid;
		gap: 8px*2;
		grid-template-columns: 1fr;
		.galleries{
			margin-left: 8px*0;
		}
	}
	.financials-overview{
		display: grid;
		justify-content: start;
		gap: 8px*2;
		grid-template-columns: 1fr 1fr;
		.payments{
			.card{
				display: grid;
				grid-template-columns: 3fr 3fr;
				height: calc(100% - 8px*4.5);
				gap: 8px;
				.payments-list{
					width: 8px*18;
					display: grid;
					align-content: start;
					gap: 4px;
					.amount-card{
						height: 8px*3.5;
						padding: 4px 8px;
						font-size: 0.8rem;
					}
					.button{
						margin: 0;
						margin-top: 4px;
					}
				}
				.chart{
					width: 8px*18;
					display: grid;
					grid-template-rows: auto 8px*5;
					gap: 8px;
					.message{
						font-size: 0.8rem;
						text-align: center;
						color: $gray-accessible-dark;
					}
					.button{
					}
				}
			}
		}
	}
	.templates{
		.new{
			.thumbnails{
				margin-top: 8px*2;
			}
		}
	}
}

.galleries{
	margin-left: 8px*2;
	.list{
		margin-top: 8px*2;
		display: flex;
		gap: 8px*3;
		.gallery-list{

			display: flex;
			gap: 8px*3;
		}
	}
	
	.ctas{
		width: 100%;
		display:flex;
		gap: 8px;
		margin-top: 8px*1.5;
		.label{
			color: $gray-accessible-dark;
			font-size: 0.9rem;
			margin: auto 8px;
		}
		.button{
			font-size: 0.9rem;
			padding: 4px 8px*1.4;
			margin:0;
			text-align: center;
			&.lr{
				padding: 4px 8px*1;
			}

		}
	}
}
.gallery{
	width: 8px*24.25;
	border-radius: 8px;
	transition-duration: 0.1s;
	.thumbnails{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 8px*1;
		height: 8px*16;
		width: 8px*24;
		transition-duration: 0.2S;
		.thumbnail{
			position: relative;
			transform: translateY(0px);
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
			.count{
				display: grid;
				align-items: center;
				text-align: center;
				font-size: 0.8rem;
				color: $dark-0;
			}
			&.thumb1{
				grid-row: 1/3;
				.bthumb1{
					border: 1px solid $dark-0;
				}
			}
			&.thumb2{
				.bthumb1{
					background-blend-mode: multiply;
					background-color: $dark-2;
					color: white;
				}
			}
			&.thumb3{
				z-index: -1;
				.bthumb1{
					background-blend-mode: multiply;
					background-color: $dark-2;
					color: white;
				}
			}
			.backthumb{
				width: 100%;
				height: 100%;
				@include boxed;
				border-radius: 4px;
				background-color: $dark-2;
				border: 1px solid $gray4-default-dark;
				box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
			}
			.bthumb1{
				position: absolute;
				z-index: 5;
				opacity: 1;
				background-size: cover;
				transition-duration: 0.2s;
				border: 1px solid $gray3-default-dark;
			}
			.bthumb2{
				position: absolute;
				transform: rotate(6deg)translateY(-6px) scale(1);
				transition-duration: 0.2s;
				transition-delay: 0.1s;
				transition-timing-function: ease-in;
				border: 1px solid $gray5-default-dark;
			}
			.bthumb3{
				position: absolute;
				transition-duration: 0.2s;
				transform: rotate(-4deg)translateY(-3px) scale(1);
				transition-delay: 0.2s;
				transition-timing-function: ease-in;
				border: 1px solid $gray4-default-dark;
			}
		}
	}
	.gallery-name{
		margin: 8px 0px;
		font-size: 0.9rem;
		color: $gray-default-dark;
	}
	&:hover{
		transition-duration: 0.1s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in;
		.thumbnails{
			.thumbnail{
				transform: translate(-4px,-2px)  scale(1.05);
				transition-duration: 0.2s;
				transition-delay: 0.0s;
				transition-timing-function: ease-in;
				.backthumb{
					box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.4);
					background-color: $dark-2;

				}
				.bthumb1{
					position: absolute;
					transform: rotate(0deg);
					border: 1px solid $gray2-default-dark;
				}
				.bthumb2{
					position: absolute;
					transform: rotate(0deg)translateY(12px) scale(0.80);
					opacity: 0.3;
					transition-duration: 0.1s;
					transition-delay: 0.0s;
					transition-timing-function: ease-in;
					border: 1px solid $gray2-default-dark;
					box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
				}
				.bthumb3{
					position: absolute;
					transform: rotate(0deg) translateY(6px) scale(0.90);
					transition-duration: 0.1s;
					transition-delay: 0.0s;
					opacity: 0.6;
					border: 1px solid $gray2-default-dark;
					transition-timing-function: ease-in;
					box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.5);
				}
				&.thumb1{
					grid-row: 1/3;
					transition-duration: 0.2s;
					.backthumb{
						width: 100%;
						height: 100%;
						border-radius: 4px;
					}
					.bthumb1{
						position: absolute;
						z-index: 5;
					transform: rotate(0deg);
					opacity: 1;
					}
					.bthumb2{
						position: absolute;
						transform: rotate(0deg)translateY(18px) scale(0.80);
						opacity: 0.6;
						transition-duration: 0.2s;
					}
					.bthumb3{
						position: absolute;
						transform: rotate(0deg) translateY(9px) scale(0.90);
						transition-duration: 0.2s;
						opacity: 0.7;
					}
					.bthumb4{
						position: absolute;
						transform: rotate(0deg) translateY(9px) scale(0.90);
						transition-duration: 0.2s;
						opacity: 0.9;
					}
				}
				&.thumb2{
					transform: scale(1.05) translateY(-2px);
					transition-delay: 0.1;
				}
				&.thumb3{
					transform: scale(1.01) translateY(-1px);
					transition-delay: 0.3;
				}
			}
		}
		.gallery-name{

			color: $gray6-default-light;
		}
		&.new{
			.thumbnails {
				.thumbnail {
					
					.bthumb1{
						border: 1px solid $gray-default-light;
				background-size: 51%;
				transition-duration: 0.3s;
			}}}
		}
	}

	&.new{
		width: 8px*12;
		margin-left: 8px;
		.thumbnails{
			margin-top: 0;
			.thumbnail{
				.count{
				}
				&.thumb1{
					grid-row: 1/3;
				}
				.backthumb{
					border: 1px solid $gray4-default-dark;
					background-color: $dark-3;
				}
				.bthumb1{
					position: absolute;
					z-index: 5;
					opacity: 1;
					background-color: $dark-2;
					background-image: url('https://img.icons8.com/dotty/80/FFFFFF/add-image.png');
					background-size: 50%;
					background-repeat: no-repeat;
					background-position: center;
					transition-duration: 0.2s;

					transform: rotate(2deg) translateY(0px) translateX(0px) scale(1);
				}
				.bthumb2{
					position: absolute;
					transform: rotate(10deg) translateY(-8px) translateX(0px) scale(1);
					transition-duration: 0.2s;
					transition-delay: 0.1s;
					transition-timing-function: ease-in;
					opacity: 0.3;
				}
				.bthumb3{
					position: absolute;
					transition-duration: 0.2s;
					transform: rotate(-16deg)translateY(-4px) scale(1);
					transition-delay: 0.2s;
					opacity: 0.2;
					transition-timing-function: ease-in;
				}
				.bthumb4{
					position: absolute;
					transition-duration: 0.2s;
					transform: rotate(24deg) translateY(8px) translateX(8px) scale(1);
					transition-delay: 0.2s;
					opacity: 0.1;
					transition-timing-function: ease-in;
					z-index: -2;
				}
			}
		}
		.heading{
			margin-bottom: 8px*2;
		}
		.gallery-name{
			margin-top: 8px*2;
			text-align: center;
		}
	}
	&.no-images{
		width: 8px*14;
		margin-left: 8px;
		margin-right: 8px*2;
		.thumbnails{
			margin-top: 8px*2;
			grid-template-columns: 1fr 1fr;
			.thumbnail{
				.count{
				}
				&.thumb1{
					grid-row: 1/3;
					.backthumb{
						border: 1px solid $gray2-default-dark;
						background-color: $dark-3;
						&.bthumb1{
							position: absolute;
							z-index: 5;
							opacity: 1;
							background-color: $dark-2;
							background-image: url('https://img.icons8.com/external-line-vectorslab/68/FFFFFF/external-Upload-business-office-supplies-line-vectorslab.png');
							background-size: 80%;
							background-repeat: no-repeat;
							background-position: center;
							transition-duration: 0.2s;
		
							transform: rotate(2deg) translateY(0px) translateX(0px) scale(1);
						}
						&.bthumb2{
							position: absolute;
							transform: rotate(10deg) translateY(-8px) translateX(0px) scale(1);
							transition-duration: 0.2s;
							transition-delay: 0.1s;
							transition-timing-function: ease-in;
							opacity: 0.3;
						}
						&.bthumb3{
							position: absolute;
							transition-duration: 0.2s;
							transform: rotate(-16deg)translateY(-4px) scale(1);
							transition-delay: 0.2s;
							opacity: 0.2;
							transition-timing-function: ease-in;
						}
						&.bthumb4{
							position: absolute;
							transition-duration: 0.2s;
							transform: rotate(24deg) translateY(8px) translateX(8px) scale(1);
							transition-delay: 0.2s;
							opacity: 0.1;
							transition-timing-function: ease-in;
							z-index: -2;
						}
					}
				}
				&.thumb2{
					.bthumb1{
						background-color: $dark-2;
					}
				}
				&.thumb3{
					.bthumb1{
						background-color: $dark-3;
					}
				}
			}
		}
		.heading{
			margin-bottom: 8px*2;
		}
		.gallery-name{
			margin-top: 8px*2;
			text-align: center;
		}
	}
	
}
.selected{
	margin-left: 4px;
	.thumbnails{
		.thumbnail{
			.count{
			}
			&.thumb1{
				grid-row: 1/2;
			}
		}
	}
}
.shoots{

	display: grid;
	grid-column: 1/3;
	.shoot-list{
		display: grid;
		gap: 8px*2;
		.event-container{
			display: flex;
			gap: 8px*2;
			.crew{
				display: flex;
				gap: 8px;
				.crew-card{
					display: grid;
					gap: 8px;
					min-width: 8px*14;
					.avatar{
						width: 8px*9;
						height: 8px*9;
						margin: auto;
						background-color: $dark-2;
						border: 1px solid $dark-0;
						border-radius: 50%;
						box-shadow: 2px 2px 4px  rgb(0, 0, 0);;
					}
					.name{
						color: $gray4-default-light;
						text-align: center;
						font-size: 0.8rem;
					}
				}
				.assistants{
					width: 8px*16;
					gap: 4px;
					display: grid;
					grid-template-columns: 1fr 1fr;
					.assistant-card{
						height: 8px*8;
						.avatar{
							width: 8px*5.5;
							height: 8px*5.5;
							margin: auto;
							background-color: $dark-2;
							border: 1px solid $dark-0;
							border-radius: 50%;
							box-shadow: 2px 2px 4px  rgb(0, 0, 0);;
						}
					}
				}
			}
			.shoot{
				display: grid;
				grid-template-columns: 3fr 2fr;
				grid-template-rows: auto 8px*3.5;
				gap: 8px;
				width: 8px*24;
				height: 8px*16;
				.time{
					position: relative;
					@include boxed;
					display: grid;
					grid-row: 1/3;
					align-content: center;
					justify-items: center;
					justify-content: center;
					border-radius: 8px;
					background-color: $dark-3;
					padding: 8px;box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
					.date{
						margin-bottom: 8px*2;
						border-radius: 4px;
						h5{
							text-align: center;
						margin-top: -4px;
						}
						
					}
					p{
						color: $gray3-default-dark;
						font-size: 0.8rem;
						margin-top: -2px;
					}
					.location{
						color: $gray-default-dark;
						margin-top: 2px;
					}
				}
				.details{
					display: grid;
					@include boxed;
					padding: 8px;
					text-align: center;
					border-radius: 4px;
					box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
					.team-badges{
						display: grid;
						justify-items: center;
						.badge{
							position: absolute;
							width: 8px*4;
							height: 8px*4;
							background-color: $dark-1;
							border: 1px solid $dark-0;
							border-radius: 50%;
							&.second{
								opacity: 0.5;
								margin-left: 8px*3;
								z-index: -1;
							}
							&.third{
								opacity: 0.4;
								margin-left: -8px*3;
								z-index: -1;
	
							}
						}
					}
				}
				.cta{
					box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
					margin: 0;
					text-align: center;
				}
	
			}
		}
	}
}

@media only screen and (max-width: 520px) {
	.project-dashboard{
		.heading{
			&.heading-crew{
				display: none;
			}
		}
		grid-template-columns: 1fr ;
		.templates{
			display:grid;
			width: 100%;
		}
		.shoots {
			display: grid;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			.event-container{
				display: grid;
				.shoot{
					width: 100%;
					grid-template-columns: 1fr 1fr;
					
				}
				.crew{
					display: grid;
					grid-template-columns: 1fr 1fr;
					.assistants{
						width: 100%;
					}
				}
				.time{
					width: 100%;
				}
				
			}
			.shoot-list{
				gap: 8px*4;
			}
		}
		.financials-overview{
			grid-template-columns: 1fr;
		}
		
	}
}