
@import '../../style/variables';
@import '../../style/components';

.project-dashboard-header{
	position: absolute;
	display: flex;
	align-items: center;
	gap: 8px*2;
	top: 8px*2;
	right: 8px*2;
	height: 8px*5;
	div{

		opacity: 0;
			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					$delay: 0.6s + 0.05s * ($i - 1);
					animation: fadeInLeft 0.4s ease-out $delay;
					animation-fill-mode: forwards;
					animation-timing-function: ease-out;
				}
			}
	}
	.view-cta{
	  display: flex;
	  align-items: center;
	  gap: 4px;
	}
	.header{
	}.controls{
		border-radius: $border-radius-1+1;
		transition-duration: 0.15s;
		background: linear-gradient(120deg, $dark-1 -80%, $dark-2 20%,$dark-2 60%, $dark-3 100%);
		border: 1px solid $gray6-accessible-dark;
		border-top: 1px solid $gray5-accessible-dark;
		border-bottom: 1px solid $gray6-accessible-dark;;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);;
		opacity: 0;
	
		animation: fadeInLeft 0.25s ease-out 0.2s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
		&:hover{
		  transition-duration: 0.1s;
		}
		display:flex;
		.control{
		  padding: 6px 8px*1.5;
		  font-weight: 400;
		  border-radius: $border-radius-1;
		  border-right: 1px solid rgba(255, 255, 255, 0.02);
		  color: $gray4-accessible-dark;
		  white-space: nowrap;
		  cursor: pointer;
		  transition-duration: 0.15s;
		  &:hover{
			  border-radius: 2px;
			  background-color: $dark-2;
			  color: $gray2-accessible-dark;
			  transition-duration: 0.1s;
			  &:last-child{
				  border-radius: 8px;
			  }
		  }
		  &.active{
			color: $light-0;
			background-color: $dark-4;
			border: 1px solid $gray5-accessible-dark;
			border-top: 1px solid $gray3-accessible-dark;
			border-left: 1px solid $gray3-accessible-dark;
			border-bottom: 1px solid $gray5-accessible-dark;
			border-radius: 6px !important;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);;
			transform: scale(1.1);
			&:hover{
			  background-color: $dark-1;
			  border: 1px solid $gray3-accessible-dark;
			  transition-duration: 0.1s;
			}
			
			.icon{
	
			  background-size: 120%;
			}
		  }
		  &.disabled{
			  opacity: 0.2;
			}
		  .icon{
			  width: 8px*1.8;
			  height: 8px*1.8;
			  background-position: center;
			  background-size: 110%;
			  &.card-view{
				  background-image: url('https://img.icons8.com/sf-black-filled/64/FFFFFF/four-squares.png');
			  }
			  &.list-view{
				  background-image: url('https://img.icons8.com/ios-filled/50/FFFFFF/list.png');
			  }
		  }
		  
		}
	  }
	  .tools{
		.button{
			line-height: 1.1rem;
			
		}
	  } @keyframes copyingGradient {
		0% {
		  background-position: 100%;
		}
		20% {
		  background-position: 100%;
		}
		80% {
		  background-position: 0%;
		}
		100% {
		  background-position: 0%;
		}
	  }
}
.dashboard-tabs{
	min-width: 46vw;
	.tabs{
		display:flex;
		margin-bottom: 8px*2;
		.button{
			margin: 0;
			font-size: 1rem;
			font-weight: 400;
			border-radius: 0px;
			padding: 8px 8px*3;
			height: 8px*4.5;
			border: 1px solid $dark-2;
			border-bottom: 1px solid $dark-1;
			color: $dark-1;
			color: $gray-accessible-light;
			box-shadow: none;
			opacity: 0;
			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					$delay: 0.2s + 0.05s * ($i - 1);
					animation: fadeInUp 0.4s ease-out $delay;
					animation-fill-mode: forwards;
					animation-timing-function: ease-out;
				}
			}
			&:first-child{
				border-radius: 4px 0px 0px 4px;
			}
			&:last-child{
				border-radius: 0px 4px 4px 0px;
			}
			&:hover{
				background-color: $dark-3;
				color: $gray4-accessible-light;
				transform: translateY(0px);
			}
			&:active{

				background-color: black;
				border: 1px solid $dark-3;
				border-bottom: 1px solid $green-accessible-dark;
				color: white;
				opacity: 0.8;
				}
		}
		.active{
			background-color: $dark-3;
			border: 1px solid $dark-3;
			border-bottom: 1px solid $green-accessible-light;
			color: white;
			border-radius: 2px;
			&:hover{

			background-color: $dark-3;
			border: 1px solid $dark-2;
			border-bottom: 1px solid $green-accessible-dark;;
			color: white;
			}
			
		}
	}
	.galleries{
		display: flex;
		gap: 8px*4;
	}
	.gallery .thumbnails{
		width: 8px*24;
		height: 8px*16;
		margin-bottom: 8px;
		
	}
	.collection-name{
		text-align: start;
	}
}
.project-dashboard{
	position: relative;
	display: grid;
	align-content: normal;
	justify-content: start;
	justify-items: start;
	align-items: start;
	padding: 8px*2;
	margin-top: 8px*0;
	column-gap: 8px*3;
	row-gap: 8px*2;
	.headings{
		display: grid;
		grid-template-columns: auto auto;
		gap: 8px*3;
		
	}
	.sub-projects{
		.headings{
			display: flex;
			justify-content: space-between;
			gap: 8px;
			border-bottom: 1px solid #2c2c2e;
			margin-bottom: 16px;
		}
	}
	

	.box{
		position: relative;
		padding: 4px;
		@include boxed;
		border-radius: 8px;
		background-color: $dark-3;
		box-shadow: 1px 1px 4px  black;
	}
	.status{
		position: absolute;
		top: 0;
		right: 0;
		padding: 6px;
		.signal{
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $green-accessible-dark;
			box-shadow: 
			0px 0px 2px 2px  rgba(0, 0, 0, 0.5),
			0px 0px 4px  #95e5729f,
			0px 0px 2px 4px  #55a13415,
			0px 0px 8px 8px  #42951f21;
		}
		
		&.confirmed{
			.signal{
				background-color: $green-accessible-dark;
				box-shadow: 
				0px 0px 2px 2px  rgba(0, 0, 0, 0.5),
				0px 0px 4px  #95e5729f,
				0px 0px 2px 4px  #55a13415,
				0px 0px 8px 8px  #42951f21;
			}
		}
		&.draft{
			.signal{
				background-color: $gray3-accessible-dark;
				box-shadow: 
				0px 0px 2px 2px  rgba(0, 0, 0, 0.5),
				0px 0px 4px  #dadada16,
				0px 0px 2px 4px  #49494915,
				0px 0px 8px 8px  #5d5d5d21;
			}
		}
		

		&.large{
			padding: 8px;.signal{
				width: 6px;
				height: 6px;
				border-radius: 50%;
			}
		}
	}
	.circle{
		display: grid;
		justify-items: center;
		align-items: center;
		align-content: center;
		width: 8px*10;
		height: 8px*10;
		margin: 8px auto;
		background-color: $dark-3;
		border: 8px solid $gray-default-dark;
		border-radius: 50%;
		font-size: 1rem;
		font-weight: 600;
		text-shadow: 
		2px 2px 4px rgba(0, 0, 0, 0.8),
		0px 0px 12px rgba(7, 179, 7, 0.925);
		.edit.text{
			font-size: 0.6rem;
			font-weight: 400;
			margin-top: 6px;
		}
		&.cyan{
			border: 5px solid $cyan-accessible-dark;
		}
		&.green{
			border: 5px solid $gray6-accessible-dark;

		}
		&.orange{
			border: 5px solid $orange-accessible-dark;
			box-shadow: 2px 2px 4px rgb(23, 15, 3);
		}
		&.gray{
			width: 100%;
			border: 0px solid $gray4-accessible-dark;
			box-shadow: 2px 2px 4px rgb(23, 15, 3);
				background-image: url('https://img.icons8.com/wired/64/FFFFFF/us-dollar-circled--v1.png');
			background-position: center;
			background-size: 50%;
		}
	}
	svg{
		margin: 4px;
		g{
			width: 100%;
			display: grid;
			align-items: center;
		}
		.amount{
			text-align: center;
			width: 8px*5;
			font-size: 0.25rem;
			fill: $gray2-default-light;
			&.highlight{
			font-size: 0.4rem;
			fill: $gray6-default-light;

				font-weight: 600;
			}
		}
	}

	.gallery-overview{
		display: grid;
		gap: 8px*2;
		grid-template-columns: 1fr;
		.galleries{
			margin-left: 8px*0;
			max-width: calc(100vw - 8px*13);
		}
	}
	.financials-overview{
		display: grid;
		justify-content: start;
		gap: 8px*3;
		grid-template-columns: auto auto;
		
	}
	.payments{
		.card{
			display: grid;
			grid-template-columns: 8px*15 3fr;
			gap: 8px;
			.payments-list{
				min-width: 8px*12;
				display: grid;
				align-content: start;
				gap: 4px;
				.amount-card{
					display: flex;
					gap: 6px;
					justify-content: space-between;
					height: 8px*3.5;
					padding: 4px 4px;
					padding-right: 8px*2.5;
					font-size: 0.8rem;
					border-radius: 4px;
					transition-duration: 0.1s;
					transition-timing-function: ease-out;
					cursor: pointer;
					color: $gray-default-dark;
					line-height:8px*2.2;
					&:hover{
						transition-duration: 0.1s;
						transition-timing-function: ease-in;
						transform: scale(1.01);
						box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
						border: 1px solid $gray-default-light;
						color: $gray5-default-light;
					}
					span.direction{
						color: $gray-default-dark;

					}
					&.balance{
						color: $gray2-default-dark;

					}
					&.draft{
						border: 1px solid $gray5-default-dark;
						background-color: $dark-2;
						box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) , inset 1px 1px 2px rgba(0, 0, 0, 0.5);
						opacity: 0.8;
						&:hover{
							transform: none;
							box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
							border: 1px solid $gray4-default-dark;
							color: $gray5-default-light;
						}
					}
					.percentage{
						font-size: 0.7rem;
						color: $gray2-default-dark;
					}
					.status{
						top: 4px;
					}
					
					.pending {
						.signal {
						  background-color: $orange-accessible-dark;
						  box-shadow: 
							0px 0px 2px 2px rgba(0, 0, 0, 0.5),
							0px 0px 4px #96843c79,
							0px 0px 2px 4px #a19b3415,
							0px 0px 8px 8px #95791f21;
						  
						  animation: blink 4s infinite;
						}
					  }
					  .draft{
						.signal{
							background-color: $gray4-accessible-dark;
							box-shadow: 
							0px 0px 2px 2px rgba(0, 0, 0, 0.5),
							0px 0px 4px #97979633,
							0px 0px 2px 4px #a5a5a515,
							0px 0px 8px 8px #8787870a;
						  
						}
					  }
					  @for $i from 1 through 5 { // Adjust the number based on how many .signal elements you have
						&:nth-child(#{$i}) {
						  .signal{
							  animation-delay: #{1+$i * 0.5}s; // 0.2s delay between each child
						  }
						}
					  }
					  @keyframes blink {
						0%, 100% {
						  opacity: 1;
						}
						90% {
						  opacity: 0.4;
						}
					  }
				}
				.button{
					margin: 0;
					margin-top: 4px;
				}
			}
			.chart{
				min-height: 8px*20;
				display: grid;
				grid-template-rows: auto auto;
				gap: 8px;
				border: 1px solid $dark-0;;;
				padding: 8px;
				.message{
					font-size: 0.8rem;
					text-align: center;
					color: $gray-accessible-dark;
				}
				.button{
					width: 100%;
					margin: 0;
				}
				transition-duration: 0.1s;
				transition-timing-function: ease-out;
				cursor: pointer;
				&:hover
				{
					transform: scale(1.02) translateY(-2px);
					box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.773);
					transition-timing-function: ease-in;							
					border: 1px solid $dark-0;

					.circle.green{
					border: 5px solid $gray-default-light;
					box-shadow: 
						0px 0px 2px rgba(1, 17, 1, 0.5), 
						inset 0px 0px 4px rgba(1, 17, 1, 0.5), 
						0px 0px 4px rgba(4, 146, 4, 0.5), 
						inset 2px 2px 4px rgba(4, 146, 4, 0.5),
						0px 0px 20px rgba(4, 146, 4, 0.4,), 
						inset 2px 2px 20px rgba(4, 146, 4, 0.4,);
						transition-duration: 0.1s;

					}	
					.status.large .signal{
						background-color: #6ff535;
						transition-delay: 0.1s;
						transition-duration: 0.1s;
						box-shadow: 
						0px 0px 4px 1px  rgba(0, 0, 0, 0.8),
						0px 0px 8px  #6fd145e5,
						0px 0px 2px 4px  #55a13415,
						0px 0px 8px 8px  #42951f2e;
					}
				}
			}
			&:hover{
				.payments-list{
					.amount-card{
						animation-name: sub-card-reveal;
						animation-duration: 0.6s;
						box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.773);	
						&:nth-child(1){
							animation-delay: 0.4s;
						}
						&:nth-child(2){
							animation-delay: 0.45s;
						}
						&:nth-child(3){
							animation-delay: 0.5s;
						}
						&:nth-child(4){
							animation-delay: 0.55s;
						}
					}
				}
			}
			&.single{
			}
		}
		&.expenses{
		}
	}
	.templates{
		.new{
			.thumbnails{
			}
		}
	}
}

.galleries{
	.list{
		width: 100%;
		margin-bottom: 8px*1;
		display: flex;
		gap: 8px*6;
		.gallery-list{

			display: flex;
			gap: 8px*4;
			margin-bottom: 0px;
			padding: 8px;
			overflow-x: scroll;
			overflow-y: auto;
			.gallery{
				opacity: 0;

				@for $i from 1 through 20 {
					&:nth-child(#{$i}) {
						$delay: 0.4s + 0.05s * ($i - 1);
						animation: fadeInUp 0.4s ease-out $delay;
						animation-fill-mode: forwards;
						animation-timing-function: ease-out;
			
					}
				}
			}
		}
	}
	
	.ctas{
		width: 100%;
		display:grid;
		grid-template-columns: auto auto;
		justify-content: stretch;
		gap: 8px;
		margin-top: 8px*2.5;
		.label{
			color: $gray-accessible-dark;
			font-size: 0.9rem;
			margin: auto 8px;
		}
		.button{
			width: auto;
			padding: 4px 8px*1.4;
			margin:0;
			text-align: center;
			&.lr{
				padding: 4px 8px*1;
			}

		}
	}
}
.App .gallery{
	position: relative;
	top:8px*1;
	border-radius: 8px;
	transition-duration: 0.3s;
	.thumbnails{
		display: grid;
		grid-template-columns: 1fr ;
		gap: 8px*1;
		height: 8px*16;
		width: 8px*22;
		transition-duration: 0.2S;
		opacity: 0.6;
		.thumbnail{
			position: relative;
			transform: translateY(0px);
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
			&:hover{
			transition-timing-function: ease-out;
			transform: translateY(-4px);
			transition-duration: 0.1s;

			}
			.count{
				display: grid;
				align-items: center;
				text-align: center;
				font-size: 0.8rem;
				color: $dark-0;
			}
			.backthumb{
				width: 100%;
				height: 100%;
				@include boxed;
				border-radius: 4px;
				border: 1px solid $gray4-default-dark;
				box-shadow: -2px -1px 4px rgba(0, 0, 0, 0.6);
			}
			.bthumb1{
				position: absolute;
				z-index: 5;
				opacity: 1;
				background-size: cover;
				background-position:center;
				transition-duration: 0.2s;
				border: 1px solid $gray3-default-dark;
			}
			.bthumb2{
				position: absolute;
				transform: rotate(2deg)translateY(-6px) scale(1);
				transition-duration: 0.4s;
				transition-delay: 0.1s;
				transition-timing-function: ease-in;
				border: 1px solid $gray4-accessible-dark;
				background-color: $gray6-default-dark;

			}
			.bthumb3{
				position: absolute;
				transition-duration: 0.3s;
				transform: rotate(-6deg)translateY(-3px) scale(1);
				transition-delay: 0.2s;
				transition-timing-function: ease-in;
				border: 1px solid $gray4-accessible-dark;
				background-color: $gray6-accessible-dark;
			}
			.filesCount{
				position: absolute;
				left: 4px;
				bottom: 4px;
				padding: 2px 8px;
				border-radius: 3px;
				background-color: $dark-1;
				color: $gray6-default-light;
				font-size: 0.8rem;
				border: 1px solid  $gray-default-light;
				opacity: 0.7;
			}
		}
	}
	.gallery-name{
		margin: 8px 0px;
		font-size: 0.9rem;
		text-align: center;
		color: $gray-default-dark;
	}
	.card-gallery-name{
		display:flex;
		justify-content: space-between;
		[data-radix-popper-content-wrapper]{
			margin-left: -8px*6;
			margin-top: -8px*8;
			padding: 0;
			background-color: $dark-2;
			border-radius: 4px;
			border: 1px solid $dark-0;
			p{
			  padding: 8px 8px*2;
			  cursor: pointer;
			  &:hover{
				background-color: $dark-1;
			  }
			}
		  }
	}
	&:hover,&.active{
		transform: translate(0px,-1px) scale(1.05);
		transition-duration: 0.2s;
		transition-delay: 0.0s;
		transition-timing-function: ease-in;
		.thumbnails{
			opacity: 1;
			.thumbnail{
				transition-duration: 0.1s;
				transition-delay: 0s;
				transition-timing-function: ease-in;
				.backthumb{
					box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.4);
					
				background-color: $dark-3;

				}
				.bthumb1{
					position: absolute;
					transform: rotate(0deg);
					border: 1px solid $gray-default-dark;
					background-blend-mode: normal,color-dodge;
				}
				.bthumb2{
					position: absolute;
					transform: rotate(0deg)translateY(-12px) scale(0.80);
					opacity: 1;
					transition-duration: 0.1s;
					transition-delay: 0.0s;
					transition-timing-function: ease-in;
					border: 1px solid $gray3-default-dark;
					box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
				}
				.bthumb3{
					position: absolute;
					transform: rotate(0deg) translateY(-6px) scale(0.90);
					transition-duration: 0.1s;
					transition-delay: 0.0s;
					opacity: 01;
					border: 1px solid $gray2-default-dark;
					transition-timing-function: ease-in;
					box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.5);
				}
				&.thumb1{
					grid-row: 1/3;
					transition-duration: 0.2s;
					.backthumb{
						width: 100%;
						height: 100%;
						border-radius: 4px;
					}
					.bthumb1{
						position: absolute;
						z-index: 5;
					transform: rotate(0deg);
					opacity: 1;
					}
					.bthumb2{
						position: absolute;
						transform: rotate(0deg)translateY(-16px) scale(0.80);
						opacity: 0.5;
						transition-duration: 0.2s;
					}
					.bthumb3{
						position: absolute;
						transform: rotate(0deg) translateY(-8px) scale(0.90);
						transition-duration: 0.2s;
						opacity: 0.5;
					}
					.bthumb4{
						position: absolute;
						transform: rotate(0deg) translateY(-10px) scale(0.90);
						transition-duration: 0.2s;
						opacity: 0.2;
					}
				}
				&.thumb2{
					transform: scale(1.05) translateY(-2px);
					transition-delay: 0.1s;
				}
				&.thumb3{
					transform: scale(1.01) translateY(-1px);
					transition-delay: 0.3s;
				}
			}
		}
		.gallery-name{
			margin-left: 0;
			color: $gray6-default-light;
		}
		&.new{
			.thumbnails {
				.thumbnail {
					
					.bthumb1{
						border: 1px solid $gray-default-light;
						background-size: 60% ,100%;
						background-blend-mode: normal,color-dodge;
						transition-duration: 0.3s;
						opacity: 1;
						background-size: calc(40%) ,110%;
						background-blend-mode: normal,color-dodge;
						background-repeat: no-repeat;
						background-position: center calc( calc(50% - 8px*2)), center;
		
					}
				}
			}

			.gallery-name{
				padding-right: 8px*3;
				padding-left: 8px*3;
				transform: translateY(-4px);
			}
		}
	}
	&.active{
		.thumbnails{
			.thumbnail{
				&.thumb1{
					.bthumb1{
						opacity: 1;
					}
				}
			}
		}
	}

	&.new{
		
		cursor: pointer;
		&.empty-gallery{
			margin-top: 8px*2;
		}
		.thumbnails{
			width: 8px*20;
			height: 8px*16;
			grid-template-columns: 1fr;
			.thumbnail{
				.count{
				}
				&.thumb1{
					grid-row: 1/3;
				}
				.backthumb{
					border: 1px solid $gray4-accessible-dark;
					background-color: $dark-3;
					&:hover{
					border: 1px solid $gray-default-dark;
						
					}
				}
				.bthumb1{
					position: absolute;
					z-index: 5;
					opacity: 1;
					background-color: $dark-3;
					background-image: url('https://img.icons8.com/?size=100&id=11153&format=png&color=ffffff') ,/* url('https://images.pexels.com/photos/1730877/pexels-photo-1730877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') */;
					background-size: 40% ,110%;
					background-blend-mode: normal,color-dodge;
					background-repeat: no-repeat;
					background-position: center calc(50% - 8px*2), center;
					transition-duration: 0.2s;

					height: 8px*16;
					transform: rotate(0deg) translateY(0px) translateX(0px) scale(1);
					.button{
						position: absolute;
						bottom: 4px;	
						left: 4px;
						width: calc(100% - 8px*2);
					}
					
				}
				.bthumb2{
					position: absolute;
					transform: rotate(-4deg) translateY(-8px*0) translateX(8px*0) scale(1);
					transition-duration: 0.2s;
					transition-delay: 0.1s;
					transition-timing-function: ease-in;
					opacity: 0.3;
				}
				.bthumb3{
					position: absolute;
					transition-duration: 0.2s;
					transform: rotate(-8deg)translateY(0px) scale(1);
					transition-delay: 0.2s;
					opacity: 0.2;
					transition-timing-function: ease-in;
				}
				.bthumb4{
					position: absolute;
					transition-duration: 0.2s;
					transform: rotate(-12deg) translateY(0px) translateX(0px) scale(1);
					transition-delay: 0.2s;
					opacity: 0.1;
					transition-timing-function: ease-in;
					z-index: -2;
				}
				p{
					width: 100%;
					position: absolute;
					bottom: -8px*3.5;
					color: $green-default-light;
					z-index: 6;
					text-align: center;
				}
			}
		}
		.heading{
			z-index: 3;
		}
		.gallery-name{
			margin-top: 8px*1;
			text-align: center;
			display:flex;
			align-self: center;
		}
	}
	&.no-images{
		.thumbnails{
			.thumbnail{
				.count{
				}
				&.thumb1{
					grid-row: 1/3;
					.backthumb{
						&.bthumb1{
							background-size: 50%;
						}
					}
				}
				&.thumb2{
					.bthumb1{
						background-color: $dark-3;
					}
				}
				&.thumb3{
					.bthumb1{
						padding: 4px;
						background-color: $dark-3;
					}
				}
			}
		}
		.heading{
			margin-bottom: 8px*2;
		}
		.gallery-name{
			margin-top: 8px*2;
			text-align: center;
		}
	}
	
}
.selected{
	margin-left: 4px;
	.thumbnails{
		.thumbnail{
			.count{
			}
			&.thumb1{
				grid-row: 1/2;
			}
		}
	}
}
.active-box{
	position: absolute;
	width: 8px*27;
	height: 8px*21.5;
	left: 8px*6;
	margin-left: -8px*2;
	margin-top: -8px*2;
	border: 1px solid $dark-3;
	border-radius: 4px;
	background-color: $dark-3;
	opacity: 0.2;
	z-index: -1;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.shoots{

	display: grid;
	grid-column: 1/3;
	.shoot-list{
		display: grid;
		gap: 8px;
		.event-container{
			display: flex;
			gap: 8px*3;
			margin-top: 8px*1;
			padding-bottom: 8px*2;
			border-bottom: 1px solid $dark-1;
			&:last-child{

			border-bottom: none
			}
			.crew{
				display: flex;
				gap: 8px;
				.crew-card{
					display: grid;
					gap: 8px;
					min-width: 8px*14;
					
					.name{
						color: $gray4-default-light;
						text-align: center;
						font-size: 0.8rem;
					}
					.role{
						font-size: 0.7rem;
						color: $gray2-default-dark;
					}
					transition-duration: 0.1s;
					transition-timing-function: ease-out;
					cursor: pointer;
					&:hover
					{
						transform: scale(1.02) translateY(-2px);
						box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.773);
						transition-timing-function: ease-in;							
						border: 1px solid $dark-0
					}
				}
				
				.assistants{
					width: 8px*16;
					gap: 4px;
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;
					grid-auto-flow: column;
					.assistant-card{
						height: 8px*8;
						.avatar{
							width: 8px*5.5;
							height: 8px*5.5;
							margin: auto;
							background-color: $dark-2;
							border: 1px solid $dark-0;
							border-radius: 50%;
							box-shadow: 2px 2px 4px  rgb(0, 0, 0);;
						}
						&.new-crew{
							position: relative;
							background-image: url('https://img.icons8.com/wired/64/FFFFFF/add.png');
							background-position: center 8px;
							background-size: 50%;
							background-color: $dark-2;
							cursor: pointer;
							transition-duration: 0.1s;
							transition-timing-function: ease-out;
							p{
								width: 8px*5.5;
								font-size: 0.8rem;
								position: absolute;
								bottom: 6px;
								text-align: center;
							}
							&:hover{

								transform: scale(1.01) translateY(-1px);
								box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.773);
								transition-timing-function: ease-in;	
							background-color: $dark-3;
							border: 1px solid $dark-0;
							}
						}
					}
				}
			}
			.shoot{
				display: grid;
				grid-template-columns: 3fr 2fr;
				grid-template-rows: auto 8px*3.5;
				gap: 8px;
				width: 8px*28;
				height: 8px*18;
				.time{
					position: relative;
					@include boxed;
					border: 1px solid  $dark-1;
					display: grid;
					grid-row: 1/3;
					align-content: center;
					justify-items: center;
					justify-content: center;
					border-radius: 8px;
					background-color: $dark-3;
					padding: 4px;
					box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
					.date{
						margin-bottom: 8px*1;
						border-radius: 4px;
						border-radius: 4px;
						padding: 4px 8px*2;
						background-color: $dark-1;
						border: 1px solid $gray3-default-dark;
						h5{
							text-align: center;
							margin-top: -4px;
							color: $gray-default-dark;
						}
						h1{
							font-size: 1.5rem;
							margin-bottom: -2px;
						}
						
					}
					p{
						color: $gray3-default-dark;
						font-size: 0.8rem;
						margin-top: -2px;
					}
					.event-type-label{
						color: $gray4-default-light;
						font-weight: 600;
						font-size: 0.9rem;
						margin-top: 8px;
					}
					.location{
						color: $gray-default-dark;
						margin-top: 8px;
						&::before{
							content: '.';
							display: inline-table;
							width: 8px*2.5;
							height: 8px*2;
							color: transparent;
							background-image: url('https://img.icons8.com/material/48/FFFFFF/marker--v1.png');
							background-position: center;
							background-size:auto 80% ;
							background-repeat: no-repeat;
						}
					}
				}
				.details{
					display: grid;
					@include boxed;
					padding: 8px;
					text-align: center;
					border-radius: 4px;
					box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
					.team-badges{
						display: grid;
						justify-items: center;
						.badge{
							position: absolute;
							width: 8px*4;
							height: 8px*4;
							background-color: $dark-1;
							border: 1px solid $dark-0;
							border-radius: 50%;
							&.second{
								opacity: 0.5;
								margin-left: 8px*3;
								z-index: -1;
							}
							&.third{
								opacity: 0.4;
								margin-left: -8px*3;
								z-index: -1;
	
							}
						}
					}
				}
				.cta{
					box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
					margin: 0;
					text-align: center;
				}
				&.new{
					width: auto;
					.time{
						min-width: 8px*14;
						min-height: 8px*20;
						cursor: pointer;
						transition-duration: 0.1s;
						.status.large{
							position: relative;
							padding: 4px;
							.signal{

							position: absolute !important;
							top: 4px;
							right: 4px;
							}
							.icon{
								width: 100%;
								height: 8px*12;
								background-image: url('https://img.icons8.com/external-others-abderraouf-omara/64/FFFFFF/external-lens-photography-and-equipements-others-abderraouf-omara.png');
								background-size: 50%;
								background-position: center;
							}
							.button{
								margin: 0;
							}
						}
						&:hover{
							transition-duration: 0.1s;
							transform: scale(1.02) translateY(-2px);
							box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.773);
							transition-timing-function: ease-in;							
							border: 1px solid $dark-0;
							.button{
								transform: scale(1.01) translateY(-1px);;
							}
						}
					}
					
				}
	
			}
		}
	}
	.new-shoot{
		padding: 0px 8px;
		margin: 0;
		margin-top: -2px;
		border-radius: 4px;
		background-position: 8px*1 center;
		background-size: auto 60%;
		background-color: $dark-1;
		transition-duration: 0.1s;
		border: 1px solid $dark-2;
		text-align: center;
		font-weight: 400;
		line-height: 8px*3;
		cursor: pointer;
		&:hover{
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
			border: 1px solid $gray-default-dark;
			color: $green-default-light;
			
		}
	}
	/* .new-crew{
		padding: 0px 10px;
		margin: 0;
		margin-top: -2px;
		border-radius: 4px;
		background-position: 8px*1 center;
		background-size: auto 60%;
		background-color: $dark-1;
		transition-duration: 0.1s;
		border: 1px solid $gray2-default-dark;
		text-align: center;
		font-weight: 400;
		line-height: 8px*3;
		cursor: pointer;
		&:hover{
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
			border: 1px solid $gray-default-dark;
			
		}
	} */
	
	.heading-crew{
		display: flex;
		justify-content: space-between;
		gap: 8px;
		border-bottom: 1px solid $gray5-default-dark;
		margin-bottom: 8px*1;
		.heading{
			border: none;
			margin-bottom: 0;
		}
	}
	.heading-shoots{
		display: flex;
		justify-content: space-between;
		gap: 8px;
		border-bottom: 1px solid $gray5-default-dark;
		margin-bottom: 8px*2;
		.heading{
		}
	}
}
.avatar{
	width: 8px*9;
	height: 8px*9;
	margin: auto;
	background-color: $dark-2;
	border: 1px solid $dark-0;
	border-radius: 50%;
	box-shadow: 2px 2px 4px  rgb(0, 0, 0);;
	background-size: 100% !important;
	&.jane-0005{
		background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_YNd0KfrIVqUEQP9KlCujsRsIZ5tEC7KQzxGCtD0lsXuxFi-rJ0SIQlnmv5tHTJ3QLDM&usqp=CAU')!important;
	}
	&.john-0004{
		background-image: url('https://www.francisjtaylor.co.uk/wp-content/uploads/2021/06/Francis-J-Taylor.jpg')!important;
	}
	&.abhay-0002{
		background-image: url('https://avatars.githubusercontent.com/u/13717741?v=4')!important;
	}
	&.sam-0001{
		background-image: url('../../assets/img/profile/sam.jpg') !important
	}
}

.heading-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	border-bottom: 1px solid $gray5-default-dark;
	margin-bottom: 8px*2;
	height: 8px*4;
	.heading{
		border: none;
		margin-bottom: 4px;
		padding-bottom: 0;
		span{
			font-weight: 400;
			font-size: 1rem;
			margin-left: 4px;
			color: $dark-0
		}
	}
	.button{
		margin: 0;
		margin-bottom: -4px;
		margin-right: -2px;
	}
}
@media only screen and (max-width: 1080px) {
    .project-dashboard{
		flex-wrap: wrap;
		.financials-overview{

		}
		.shoots{
			grid-column: 1/3;
		}
	}
}
@media only screen and (max-width: 992px) {
    .project-dashboard{
		.financials-overview{

		}
		.shoots{
			grid-column: 1/3;
		}
		.project-dashboard-header .tools {
			margin-right: 0px;
		}
		.dashboard-tabs{
			
			.tabs {
				display: flex;
				margin-bottom: 48px;
			}
		} 
	}
}
@media only screen and (max-width: 768px) {
    .project-dashboard{
		grid-template-columns: 1fr;
		.financials-overview{
			grid-template-columns: auto;
		}
		.shoots {
			display: grid;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			.headings{
				grid-template-columns: 1fr;
			}
			.event-container{
				display: grid;
				.shoot{
					width: 100%;
					grid-template-columns: 1fr 1fr;
					
				}
			}
		}
	}
	.project-dashboard-header{
		.control-wrap{
			display:none;
		}
	}
}
@media only screen and (max-width: 520px) {
	.App .project-dashboard{
		padding-left: 8px*2;
		.heading{
			&.heading-crew{
				display: none;
			}
		}
		grid-template-columns: 1fr ;
		.templates{
			display:grid;
			width: 100%;
		}
		.shoots {
			display: grid;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			.headings{
				grid-template-columns: 1fr;
			}
			.event-container{
				display: grid;
				.shoot{
					width: 100%;
					grid-template-columns: 1fr 1fr;
					
				}
				.crew{
					display: grid;
					grid-template-columns: 1fr 1fr;
					.assistants{
						width: 100%;
					}
				}
				.time{
					width: 100%;
				}
				
			}
			.shoot-list{
				gap: 8px*4;
			}
		}
		.financials-overview{
			margin-top: 8px*2;
		}
		.list{
			margin-top: 0;
		}
		.galleries{
			max-width: 100%;
		}
		
	}
}
@keyframes sub-card-reveal {
	0%{
		//transform: scale(1.0);					
		border: 1px solid $gray4-default-dark;
	}
	80%{
		//transform: scale(1.02);					
		border: 1px solid $gray3-default-dark;
	}
	100%{
		//transform: scale(1.0);					
		border: 1px solid $gray4-default-dark;
	}
}