@import '../../style/variables';
.alert {
    position: fixed;
    top: 8px*10;
    left: 50vw;
    transform: translate(-50%,-8px*15);
    padding: 8px*1 8px*2;
    border-radius: 4px;
    text-align: center;
    transition-duration: 0.1s;
    z-index: 12;
		box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.8);
    opacity: 0;
    color: white;
  }
  
  .alert.show {
    transform: translate(-50%,0);
    transition-duration: 0.4s;
    opacity: 1;
  }
  
  .alert.success {
    background-color: $green-accessible-light;
  }

  .alert.success-negative{
    background-color: $dark-2;
    border: 1px solid $red-default-light;
    opacity: 0.5;  
  }
  
  .alert.error {
    background-color: $red-accessible-light;
    border: 1px solid $red-default-light;
    opacity: 0.5;

    animation: shake 0.5s ease-in-out;
    animation-delay: 0.15s;
  }
  
  .alert.warning {
    background-color: $orange-accessible-light;
    border: 1px solid $orange-default-light;
  }
  

  @keyframes shake {
    0% {
      transform: translate(calc(-50%));
    }
    20% {
      transform: translate(calc(-50% + -5px));
    }
    40% {
      transform: translate(calc(-50% + 5px));
    }
    60% {
      transform: translate(calc( -50% + -5px));
    }
    80% {
      transform: translate(calc( -50% + 5px));
    }
    100% {
      transform: translate(-50%);
    }
  }
  