@import '../../style/variables';

.Notifications{
  margin-top: 8px*10;
  ol{
    --offset: 62px
  }
}

.alert {
  display: flex;
  justify-content: center;
    padding: 8px*1 8px*2;
    border-radius: 4px;
    text-align: center;
    text-shadow:  1px 1px 4px  rgba(0, 0, 0, 0.5);
    transition-duration: 0.1s;
		box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0);
    color: white;
    background-color: $dark-2;
  }
  .App .select-project{
    .alert{
      color: white;
      background-color: $light-0;
      *{

    color: white;
      }
    }
  .alert.success {

    color: white;
    background-color: $green-accessible-light;
    border: 1px solid $green-dark-accessible-light;
    }
  }
  
  .alert.show {
    transition-duration: 0.2s;
  }
  
  .alert.success {
    border: 1px solid $green-default-dark;
    color: white;
    transition-timing-function: ease-out;
  }

  .alert.success-negative{
    border: 1px solid $red-default-light;
  }
  
  .alert.error {
    border: 1px solid $red-accessible-dark;
    color: white;

    animation: shake 0.5s ease-in-out;
    animation-delay: 0.15s;
  }
  
  .alert.warning {
    background-color: $orange-accessible-light;
    border: 1px solid $orange-default-light;
  }
  

  @keyframes shake {
    0% {
      transform: translate(calc(-50%));
    }
    20% {
      transform: translate(calc(-50% + -5px));
    }
    40% {
      transform: translate(calc(-50% + 5px));
    }
    60% {
      transform: translate(calc( -50% + -5px));
    }
    80% {
      transform: translate(calc( -50% + 5px));
    }
    100% {
      transform: translate(-50%);
    }
  }
  