.qr-code-modal {
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 8px*65;
      padding: 2rem;
    }
  
    .qr-code-container {
      margin-bottom: 1.5rem;
      padding: 8px*2;
      border-radius: 8px*0.5;
      background: rgba(255, 255, 255, 1);
    }
  
    .qr-code-label {
      font-size: 1rem;
      color: #666;
    }
  }
  