@import '../../style/variables';
@import '../../style/components';
.App{
    
.share-gallery{
    .modal .form-section{
        margin: 8px*2 8px*6;

    }
    .galleries-share-list-selection{
        display: grid;
        column-gap : 8px*2;
        input{
            height: 8px*3;
            transform: scale(1.5);
        }
        .label{
            margin-left: 8px*2;
        }
        .selection{
            justify-content: start;
            label{
                margin-right: 8px*1;
                color: $dark-0;
                font-size: 0.9;
            }
            input{
                transform: scale(1.2);
            }
            
        }
    }
    .gallery-field{
        display: grid;
        grid-template-columns: 8px*24  8px*28 8px ;
        align-items: center;
        gap: 8px*3;
        &.selection-radio{
            display: flex;
            justify-content: center;
        }
        &.count-view{
            display: flex;
            justify-content: center;
            font-size: 0.8rem;
            .input{
                color: $gray2-default-dark;
            }
        }
    }
    .form-item{
        display: flex;
        align-items: center;
        margin-top: 4px;
        margin-left: 0;
        
        input{
            margin: 4px;
        }
        label{
            color: $gray6-default-light;
            font-size: 1.2rem;
        }
        p{
            color: $gray-default-light;
            font-size: 0.7rem;
        }
    }
    .MuiFormControlLabel-label{
        display: flex;
        align-items: center;
    
        .gallery-name{
            max-width: 8px*24;
            white-space: nowrap;
            overflow: hidden;
            &.hide{
                color: $gray3-default-dark;
                text-decoration: line-through;
                text-decoration-color: $gray2-default-dark;
            }
        }
        .gallery-images-count{
            width: 8px*12;
            height: 1.2rem;
            margin-left: 8px*2;
            font-size: 0.8rem;
            color: $gray2-default-dark
        }
    }
    .gallery-name{
    }
    .gallery-details{
        display: grid;
        gap: 8px*1;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .gallery-details-project{
            
        }
        .project-name{
            font-size: 1.2rem;
            color: $gray4-default-light;
            margin: 0;
    
        }
        .project-type{
            font-size: 0.9rem;
            color: $gray-default-light;
            margin: 0;

        }
        
        
    }
    .gallery-view-status{
            display: grid;
            grid-template-columns: 8px*14   8px*16 8px*10   8px*9;
            align-items: center;
            gap: 8px*1;
            margin-top: 8px*0;
            padding-top: 8px*0.5;
            padding-bottom: 8px*0.5;
            .button.icon{
                padding: 4px 8px;
                border-radius: 4px;
                font-size: 1rem;
                &.secondary{
                    font-size: 0.9rem;
                    
                    &.transparent-button{
                        
                    font-weight: 400;
                    color: $gray-default-dark;
                    }
                }
                &.copy{
                    padding: 4px 2px;
                    margin-left: -8px*1.5;
                    margin-right: 8px*0.5;
                    opacity: 0.2;
                        transition-delay: 0s;
                        transition-duration: 0.1s;
                        transition-timing-function: ease-in;
                    &:hover{
                        opacity: 1;
                    }
                    &::before{
                        background-size: 80%;
                    }
                }
            }

            .primary{
                font-size: 0.9rem;
                padding: 4px 6px;
            }
            .link-group{
                display: flex;
                align-items: center;
                gap: 8px*1;
                .link{
                    color: $green-dark-accessible-light;
                    transition-duration: 0.1s;

                    
                    cursor: pointer;
                    &:hover{
                        color: $green-accessible-dark;

                        
                    }
                }   
            }
            .client-label{
                text-align: end;
                color: $gray4-default-dark;
            }

            &:hover{
                .link-group{
                    .link{
                        color: $green-accessible-light;
                        text-decoration: underline;
                        text-decoration-color: $green-dark-accessible-light;

                        &::before{
                            text-decoration: none;
                        }
                    }
                    .copy{
                        opacity: 0.7;
                        transition-delay: 0.1s;
                        transition-duration: 0.3s;
                    }
                }
            }
        }
        .selection-toggle{
            display: flex;
            align-items: center;
            .toggle-status-label{
                font-size: 0.8rem;
                color: $gray2-default-dark;
                margin-right: 8px*1;
                        transition-delay: 0s;
                        transition-duration: 0.2s;
                &.toggle-off{
                    color: $gray-default-dark;
                        transition-delay: 0s;
                        transition-duration: 0.2s;
                }
            }
        }

            .qr-code-preview{
                width: 8px*14;
                height: 100%;
                position: relative;
                    transition-duration: 0.1s;
                &:hover{
                    transform: scale(1.1);

                    transition-duration: 0.1s;
                }
                .qr-code-container{

                    position: absolute;
                    top: -8px*1;
                    left: 8px*2;
                    height: 8px*12;
                    padding: 8px*1;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.9);
                    canvas{
                        width: 8px*5;
                        height: 100%;
                    }
                }
            }
    .select-galleries{

        padding-top: 8px*1;
        padding-bottom: 8px*2;
        margin-bottom: 8px*2;
        margin-top: 8px*2;
        border-bottom: 1px solid rgba(215, 215, 215, 0.1);
        .selection-icon{
            background: #6590bb42 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="rgba(255, 255, 255, 0.3)"><path d="M1 7 L5 11 L13 1" stroke-width="3" stroke="gray" fill="transparent"/></svg>');
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.1s;
            transition-duration: 0.2s;

            width: 8px*2;
            height: 8px*2;
            margin-right: 8px*1;
            opacity: 0.8;
            border-radius: 50%;
            &.active{
            background: #0C84FF url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="rgba(255, 255, 255, 0)"><path d="M1 7 L5 11 L13 1" stroke-width="3" stroke="white" fill="transparent"/></svg>');
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s;
            transition-duration: 0.2s;
            }
        }
        input{
            height: auto;
        }
        .selection-status{
            display: flex;
            align-items: center;
            gap: 8px*1;
            .button.icon{
                padding: 4px 8px;
                border-radius: 4px;
                background-color: $dark-2-5;
                color: $gray-default-dark;
                font-size: 0.9rem;
            }
            &.hide{


                .selection-icon{
                    background: #E9E9EA22  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="rgba(255, 255, 255, 0)"><path d="M1 7 L5 11 L13 1" stroke-width="2" stroke="white" fill="transparent"/></svg>');
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
                }
            }
        }
    }
    .select-galleries{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 8px*1;
        padding-bottom: 8px*2;
        margin-bottom: 8px*2;
        margin-top: 8px*2;
        border-bottom: 1px solid rgba(215, 215, 215, 0.1);

        .gallery-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(4px);
            border-radius: 8px;
            border:1px solid rgba(255, 255, 255, 0.1);
            padding: 8px 12px;
            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);

            &.disabled {
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(4px);
            border:1px solid rgba(255, 255, 255, 0.05);
            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
            cursor: pointer !important;
                .gallery-name, .gallery-images-count {
                    color: #8e8e8e;
                }
            }
        }

        .gallery-info {
            display: flex;
            align-items: center;
            gap: 12px;
            cursor: pointer;

            &:hover .status-dot {
                transform: scale(1.3);
            }
            
            &:hover .status-dot.active {
                animation-play-state: paused; // Pause animation on hover for better interaction
            }
        }

        .status-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8e8e8e; // Default color for disabled
            transition: all 0.3s ease;

            &.active {
                background-color: $green-default-dark;; // Color for enabled
                animation: pulse-active 2s infinite cubic-bezier(0.66, 0, 0, 1);
                animation-fill-mode:forwards;
            }
        }

        .gallery-name {
            font-size: 1rem;
            color: #ffffff;
        }

        .gallery-images-count {
            font-size: 0.8rem;
            color: #8e8e8e;
        }
    }
    .share-project-details{

        display: flex;
        gap: 8px*2;
            height: 8px*12;
        .project-cover{
                height: 100%;
                border: 2px solid $gray-default-light;
                border-radius: 8px*0.5;
                overflow: hidden;
            img{
                height: 100%;
            }

        }
    }
    
    .client-label{
        font-size: 0.8rem;
        margin-top: 0px;
        color: $gray3-default-dark;
    }
    .client-notification{
        margin-top: 8px*3;
        .client-label{}
        
    }
}

    .link-pin{
        display: grid;
        grid-template-columns: auto 8px*4;
        align-items: center;
        justify-content: start;
        gap: 8px*0;
        padding: 4px;
        padding-left: 0;
        margin-bottom: 8px*0;
        font-size: 1rem;
        .pin{
            padding: 8px 12px;
            border-radius: 4px;
            line-height: 1rem;
            border: 1px solid $gray3-accessible-dark;
        }
        .access{
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid $gray6-accessible-dark;
            opacity: 0.6;
        }
    }.link-pin{
        padding: 0px;
        white-space: nowrap;;
        .link{
            display:flex;
            justify-content: space-between;
            align-items: center;
            color: $green-accessible-light;
            background-color: #E9E9EA0a;
            border: 1px solid $gray4-default-dark;
            backdrop-filter: blur(4px);
            padding: 0px 4px;
            padding-left: 8px;
            padding-right: 6px;
            height: 8px*3.5;
            border-radius: 4px;

            &:hover{
            background-color: #0000003d;
            border: 1px solid $gray3-default-dark;
                .copy-link{
                opacity: 1;
                }
            }
            .copy-link{
                opacity: 0.5;
                border: 1px solid $dark-0;
                padding: 2px 8px;
                border-radius: 4px;
                color: $gray-accessible-light !important;
                cursor: pointer;
                
            }
        }
        .linkToGallery{
            padding: 0px;
            font-size: 0.9rem;
            color: $gray2-accessible-dark;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition-duration: 0.1s;
            cursor: pointer;
            
        }
        .open-in-new{
            box-shadow: none;
            border: none;
            padding: 0;

            margin: 8px*0;
            margin-left: 8px;
            opacity: 0.4;
            transform: scale(1) translateX(0px) translateY(px);
            text-decoration-color: rgba(255, 255, 255, 0) !important;
            background-color: rgba(255, 0, 0, 0)  !important;
            transition-duration: 0.1s;
            transition-delay: 0.1s;
        }
        &:hover{
            transform: scale(1);
            .open-in-new{
            transform: scale(1.025) translateX(1px) translateY(-1px);
            transition-duration: 0.2s;
            opacity: 1;
            }
            .linkToGallery{
            color: $green-accessible-light;
            text-decoration-color: $green-accessible-light;

            }
        }
}

.action-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    gap: 8px;

}}
