@import '../../style/variables';
@import '../../style/components';
.App{
    
.share-gallery{
    .modal .form-section{
        margin: 8px*2 8px*6;

    }
    .form-item{
        display: flex;
        margin: 8px;
        margin-left: 0;
        input{
            margin: 4px;
        }
        label{
            color: $gray6-default-light
        }
        p{
            color: $gray-default-light;
            font-size: 0.7rem;
        }
    }
    h4{
        padding-bottom: 8px;
        border-bottom: 1px solid $dark-1;
    }
    .select-galleries{

        padding-bottom: 4px;
        border-bottom: 1px solid $dark-1;
    }
    .link-pin{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 8px*1;
        padding: 8px;
        padding-left: 0;
        padding-bottom: 8px*1;
        border-bottom: 1px solid $dark-1;
        font-size: 0.8rem;
        .link{
            color: $green-accessible-light;
            background-color: $gray6-accessible-dark;
            padding: 2px 8px;
            height: 8px*3.5;
            border-radius: 4px;
        }
        .pin{
            padding: 4px 8px;
            border-radius: 4px;
            line-height: 1rem;
            border: 1px solid $gray3-accessible-dark;
        }
        .access{
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid $gray6-accessible-dark;
            opacity: 0.6;
        }
    }
    .client-label{
        font-size: 0.8rem;
        margin-top: 8px;
        color: $gray-default-light;
    }
    .client-notification{
        .client-label{
            margin-top: 8px*2;}
        
    }
}
}