@import '../../style/variables';
@import '../../style/components';
.App{
    
.share-gallery{
    .modal .form-section{
        margin: 8px*2 8px*6;

    }
    .galleries-share-list-selection{
        display: grid;
        column-gap : 8px*2;
        input{
            height: 8px*3;
            transform: scale(1.5);
        }
        .label{
            margin-left: 8px*2;
        }
        .selection{
            justify-content: start;
            label{
                margin-right: 8px*1;
                color: $dark-0;
                font-size: 0.9;
            }
            input{
                transform: scale(1.2);
            }
            
        }
    }
    .gallery-field{
        display: grid;
        grid-template-columns: 8px*24 8px*36;
        gap: 8px*3;
        &.selection-radio{
            display: flex;
            justify-content: center;
        }
        &.count-view{
            display: flex;
            justify-content: center;
            font-size: 0.8rem;
            .input{
                color: $gray2-default-dark;
            }
        }
    }
    .form-item{
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 4px;
        margin-left: 0;
        input{
            margin: 4px;
        }
        label{
            color: $gray6-default-light;
            font-size: 1.2rem;
        }
        p{
            color: $gray-default-light;
            font-size: 0.7rem;
        }
    }
    h4{
        padding-bottom: 8px*2;
        font-size: 1.2rem;
        border-bottom: 1px solid $dark-1;
    }
    .select-galleries{

        padding-top: 8px*0;
        padding-bottom: 8px*2;
        margin-bottom: 8px*2;
        border-bottom: 1px solid $dark-1;
    }
    .link-container{
        padding: 4px;
        white-space: nowrap;;
        .linkToGallery{
            color: $green-accessible-dark;
            text-decoration: underline;
            text-decoration-color: $green-default-light;
            transition-duration: 0.1s;
            cursor: pointer;
            
        }
        .open-in-new{
            box-shadow: none;
            border: none;
            opacity: 0.4;
            transform: scale(1) translateX(0px) translateY(0px);
        }
        &:hover{
            transform: scale(1);
            .open-in-new{
            transform: scale(1.025) translateX(2px) translateY(-1px);
            opacity: 1;
            }
            .linkToGallery{
            color: $green-accessible-light;

            }
        }
}
    .link-pin{
        display: grid;
        grid-template-columns: auto 8px*11 8px*11;
        align-items: center;
        justify-content: start;
        gap: 8px*1;
        padding: 4px;
        padding-left: 0;
        font-size: 1rem;
        .link{
            display:flex;
            justify-content: space-between;
            align-items: center;
            color: $green-accessible-light;
            background-color: #E9E9EA0a;
            padding: 4px 4px;
            padding-left: 8px;
            padding-right: 0px;
            height: 8px*4.5;
            border-radius: 4px;
            &:hover{
                .copy-link{
                opacity: 1;
                }
            }
            .copy-link{
                opacity: 0.5;
                border: 1px solid $dark-0;
                padding: 2px 8px;
                border-radius: 4px;
                color: $gray-accessible-light !important;
                cursor: pointer;
                
            }
        }
        .pin{
            padding: 8px 12px;
            border-radius: 4px;
            line-height: 1rem;
            border: 1px solid $gray3-accessible-dark;
        }
        .access{
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid $gray6-accessible-dark;
            opacity: 0.6;
        }
    }
    .client-label{
        font-size: 0.8rem;
        margin-top: 0px;
        color: $gray-default-light;
    }
    .client-notification{
        margin-top: 8px*3;
        .client-label{}
        
    }
}
}