@import '../../../style/variables';
.customer-support{
    position: fixed;
    display: grid;
    justify-items: end;
    bottom: 8px*0;
    right: 8px*0;
    z-index: 12;
    opacity: 0.2;
    cursor: pointer;
    transition-duration: 0.1s;
    &:hover{
        transition-duration: 0.1s;
        opacity: 1;
    }
    .support-actions{
      margin-right: 8px*1;
      margin-bottom: -8px*0;
      padding: 0;
      border: 1px solid $gray-accessible-light;
      display: grid;
      align-items: end;
      justify-items: end;
      justify-content: end;
      gap: 8px;
      opacity: 0;
      transition-duration: 0.2s;
      background-color: $dark-3;
      border-radius: 8px*2;

      .action{
        display: flex;
        align-items: center;
        width: 0px;
        height: 0px;
        padding: 0;
        border-radius: 8px*1;
        box-shadow: 0px 0px 0px black;
        font-size: 0.8rem;
        opacity: 0.8;
        cursor: pointer;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        overflow: hidden;
        .icon{
            padding: 8px*1;
            margin-right: 8px;
            background-position: center;
            background-size: 100%;
            &.bug{
                background-image: url('https://img.icons8.com/?size=100&id=9227&format=png&color=FFFFFF');
            }
            &.pricing{
            background-size: 90%;
            background-image: url('https://img.icons8.com/?size=100&id=23179&format=png&color=FFFFFF');
            }
            &.support{
                background-image: url('https://img.icons8.com/?size=100&id=tCfT4FT0oGjo&format=png&color=FFFFFF');
            }
        }
        &:hover{
          opacity: 1;
          background-color: $dark-2;
          box-shadow: -2px 2px 1px black;
          text-shadow: -2px 2px 1px black;
          &.blue{
            border: 1px solid white;
          }
          &.green{
            border: 1px solid $green-accessible-light;
          }
          &.orange{
            border: 1px solid $orange-accessible-light;
          }
        }
        &.blue{
          border: 1px solid white;
        }
        &.green{
          border: 1px solid $green-default-dark;
        }
        &.orange{
          border: 1px solid $orange-default-dark;
        }
        
      }
    }
    .support-icon{
      padding: 8px*5;
      background-position: center;
      background-size: auto  60%;
      background-image: url('https://img.icons8.com/?size=100&id=aKhBH2zWyueV&format=png&color=FFFFFF');
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      &:hover{
        transform: scale(1.05);
        transition-duration: 0.2s;
      transition-timing-function: ease-out;

      }
    }

    &.expanded{
        transition-duration: 0.1s;

        .support-actions{
        margin-bottom: 8px;
                padding: 8px*2;
            display: grid;
            align-items: end;
            justify-items: end;
            justify-content: end;
            gap: 8px;
              transition-duration: 0.1s;
              opacity: 1;
            .action{
                width: auto;
                padding: 4px 8px;
                height: 8px*3.4;
              transition-duration: 0.1s;
              overflow: hidden;
        transition-timing-function: ease-in;
            }
        }
        .support-icon{
            width: 8px*4;
            padding: 8px*3;
            background-position: center;
            background-size: auto  80%;
            background-image: url('https://img.icons8.com/?size=100&id=aKhBH2zWyueV&format=png&color=FFFFFF');
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover{
              transform: scale(1.05);
              transition-duration: 0.1s;
            transition-timing-function: ease-out;
      
            }
          }
    }
  }
  // Line complexity 0.7 -> 