@import './variables';
.button{
    display: inline-block;
    padding: 5px 8px*1.8;
    border-radius: 4px;
    font-size: 0.95rem;
    line-height: 1.1rem;
	letter-spacing: 0.5px;
    white-space: nowrap;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px  rgba(0, 0, 0, 0.2);
    
    margin: 4px;
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover{
        opacity: 1;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        transform: translateY(-1px);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px  rgba(0, 0, 0, 0.5);
    }
    &:active{
        opacity: 1;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        transform: translateY(1px) translateX(0px);
        opacity: 0.5;
    }
    &.primary{
        background: linear-gradient(330deg, $green-dark-accessible-light, $green-accessible-light);
        border: 2px solid $green-default-light;
        &.outline {
            background: none;
            border: 1px solid $green-dark-accessible-light;
            color: $green-default-light;
            font-weight: 500;
        }

    
        &.light-mode{
            background-color: white;
            border: 1px solid $green-accessible-light;
            color: rgb(255, 255, 255);
            &.outline {
                background: $gray-accessible-dark;
                border: 1px solid $green-dark-accessible-light;
                color: $gray-default-dark;
            }
              
        }

    }
    &.secondary{
        background-color: $dark-2;
        border: 1px solid $gray4-default-dark;
        &.light-mode{
            background-color: white;
            border: 1px solid $gray-accessible-dark;
            color: $gray2-accessible-light;
            &.outline {

                background-color: $gray6-accessible-light;
            color: $gray6-accessible-dark;
            border: 2px solid $gray5-accessible-dark;
            }
        }
        &.outline{
            
            background-color: $dark-1;
            color: white;
            &.bold{
                border: 1px solid $gray4-accessible-light;

            }
        }
    }
    &.tertiary{
        background-color: $dark-1;
        border: 1px solid $dark-0;
        &.l2{
            
        background-color: $dark-2;
        border: 1px solid $dark-1;
        color: $green-default-dark;
        }
    }
    &.warnning{
        padding: 4px 8px;
        border: 1px solid $red-default-dark;
        &:hover{
            border: 1px solid $red-default-dark;
        }
    }
    &.disabled {
        
        opacity: 0.2;
        cursor: not-allowed;
    }
    &.large{
        height: 8px*5;
        padding: 8px*1 8px*2.5;
        font-size: 1rem;
    }
    &.icon{
        &::before{
            content: '.';
            margin-right: 4px;
            margin-left: -4px;
            width: 8px*3;
            height: 100%;
            padding: 8px;
            color: transparent;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            filter: drop-shadow(1px 1px 1px #222);
             background-size: 100%;
             
               
        }
        &.large{
            &::before{
            padding: 8px*2;
            }
           }

        &.add::before{
            background-image: url('https://img.icons8.com/ios-filled/500/ffffff/plus-math.png');

        }
        &.confirmed::before{
            background-size: 90%;

            background-image: url('https://img.icons8.com/?size=100&id=11695&format=png&color=FFFFFF');
        }
        &.user::before{
            background-size: 100%;

            background-image: url('https://img.icons8.com/?size=100&id=12438&format=png&color=FFFFFF');
        }
        &.delete::before{
            background-size: 90%;

            background-image: url('https://img.icons8.com/?size=100&id=67884&format=png&color=FFFFFFF');
        }
        &.invitation::before{
            background-size: 100%;

            background-image: url('https://img.icons8.com/?size=100&id=1074&format=png&color=FFFFFF');
        }
        &.edit::before{
            background-size: 80%;
            background-image: url('https://img.icons8.com/?size=100&id=114093&format=png&color=FFFFFF');
        }
        &.new::before{
            background-size: 80%;
            background-image: url('https://img.icons8.com/?size=100&id=Y1Jzb9yc1jLC&format=png&color=FFFFFF');
        }
        &.download::before{
            margin-right: -6px;
            margin-left: -6px;
            background-size: 90%;
            background-position: top 4px center;
            background-image: url('https://img.icons8.com/?size=100&id=366&format=png&color=FFFFFF');
        }
        &.upload::before{
            margin-right: 6px;
            margin-bottom: -4px;
            background-size: 70%;
            background-position: center center;
            background-image: url('https://img.icons8.com/?size=100&id=71204&format=png&color=FFFFFF');
            
        }
    }
}
.disabled{
    color: $gray4-accessible-dark;
    opacity: 0.5;
    *{

        cursor: not-allowed !important;
    }
    &:hover{
        background: $dark-2;
        transition-duration: 0.1s;
    }
}
.options-menu-button{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    width: 8px*4;
    height: 8px*4;
    color: $dark-0;
    .icon.options{
        transform: rotate(90deg);
        width: 8px*4;
        height: 8px*4;
        background-image: url(https://img.icons8.com/?size=100&id=Mli429zE5QBn&format=png&color=ffffff);
        background-size: 60%;
        background-position: center;
        opacity: 0.5;
    }
    &:hover{
        .icon.options{
        opacity: 1;
    }
    }
    
}
[data-radix-popper-content-wrapper]{
    margin-left: -8px*1.5;
    margin-top: 8px*1;
    padding: 0;
    background-color: $dark-2;
    border-radius: 4px;
    border: 1px solid $dark-0;
    [data-radix-collection-item]{
      padding: 8px 8px*2;
      cursor: pointer;
      &:hover{
        background-color: $dark-1;
      }
    }
  }
  button[aria-haspopup=menu] {
    width: 8px*4;
    height: 8px*4;
    background-color: #171717;
    border-radius: 4px;
    border: 0px solid #535353;
  }

.show-icon{
    width: 8px*2.5;
    height: 8px*2.5;
    background-position: center;
    &.profile{
        background-size: 100%;
        background-image: url('https://img.icons8.com/ios/100/FFFFFF/user-male-circle--v1.png');
    }
    &.email{
        background-size: 70%;
        background-image: url('https://img.icons8.com/?size=100&id=63598&format=png&color=FFFFFF');
    }
    &.phone{
        background-size: 90%;
        background-image: url('https://img.icons8.com/?size=100&id=9659&format=png&color=FFFFFF');
    }
    &.location{
        background-size: 80%;
        background-image: url('https://img.icons8.com/?size=100&id=3723&format=png&color=FFFFFF');
    }
}
.coming-soon{
    display: flex;
    justify-content: end;
    width: 100%;
    opacity: 0.3;
}
.coming-soon-tag{
    display: inline-block;
    color: $green-default-dark;
    font-size: 0.5rem;
    font-weight: 700;
    padding: 2px 4px;
    //background-color: $green-accessible-light;
    border: 1px solid $green-accessible-light;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9), inset 1px 1px 2px rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.loader-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px*8;
    left: $sidebar-width + 8px*2;
    width: calc(100% - $sidebar-width - 8px*4);
    height: calc(100vh - $header-height - 8px*6);
    margin: 8px;
    padding: 8px*4;
    background-color: $dark-3;
    border-radius: $border-radius-1;
    @include boxed;
    @include boxShadow;
    .loader{
        height: 8px*3;
        width: 8px*3;
        margin-right: 8px;
        background-image: url('https://media.tenor.com/t5DMW5PI8mgAAAAi/loading-green-loading.gif');
        background-position: center;
        background-size: auto 80%;
        opacity: 0.5;
    }
    .loading-message{
        color: $gray-default-dark;
    }
}

@media only screen and (max-width: 1230px) {
    .loader-wrap{

    left: $sidebar-width - 8px*16;
    width: calc(100% - $sidebar-width + 8px*12);
    }
}
@media only screen and (max-width: 520px) {
    .loader-wrap{

    left: 8px*2;
    width: calc(100% -  8px*6);
    height: calc(100% -  8px*16);
    }
}
