&.project-page{
      display: grid;
      grid-template-rows: auto auto auto;
      gap: 8px*1;
      align-items: start;
      min-height: 50dvh;
      padding-right: 8px;
      padding-top: 0;
      padding-left: 8px*0;
      .project-page-cover{
        position: relative;
        width: calc(100% + 8px*3);
        margin-left: -8px*2;
        padding-top: 8px*12;
        opacity: 0.5;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        transition-delay: 0.8s;
        transition-timing-function: ease-in;
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: normal, luminosity, luminosity;
        animation-name: cover-subtle-pop;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        // animation delay b/w iterations
        animation-timing-function: ease-out;

        @keyframes cover-subtle-pop {
            0%{
              background-position: left;
            } 
            100%{
              background-position: left, center, right;
            }
        }

        &.focus-button-active{
          cursor: crosshair;
        }
        &.cover-hide{
          animation: none;
          background-position: left, center 20%, right;
          opacity: 0;
          animation: fadeInUp 0.2s ease-in 0.1s;
          animation-fill-mode: forwards;
          .cover-footer{
            height: 8px*18;
          }
        }
        .cover-tools{
          display: flex;
          gap: 8px;
          position: absolute;
          z-index: 10;
          transform: scale(0.9);
              transition-duration: 0.1s;
          .button{
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
            &:hover{
                transform: scale(1);
            }
          }
          
          

          .set-focus{

          }
        }
        .static-tools{
          width: calc(100% - 8px*2);
          position: absolute;
          display: grid;
          gap: 8px;
          right: auto;
          left: 8px*3;
          top: 8px*16;
          height: 100%;
          opacity: 1;
          justify-content: space-between;
          .bottom-right{
            display: flex;
          }
            .project-status{
            position: relative;
            select{
              height: 8px*4;
              width: 100%;
              color: $gray4-accessible-light;
            }
              &.draft {
                width: 8px*12;
                .status-signal {
                    //background-color: $amber-dark;
                    background-color: $gray-default-dark;
                    transform: scale(1.1);
                    box-shadow: 0 1px 1px 1px #151515, 0 0 5px 4px #ffffff16, 0 0 4px 1px #ffffff05, 0 0 20px 10px #ffffff10;
        
                    animation: steady 1.5s infinite;
                }
                &:hover{
                    .project-details .details-top .right .status-signal {
        
                        box-shadow: 0 1px 1px 0px #030303, 0 0 10px 5px #ffffff24, 0 0 4px 1px #ffffff05, 0 0 20px 20px #ffffff07 !important
        
                    }
                }
            }
            &.active{

                width: 8px*13;
            }
              &.archived {
                width: 8px*15;
                .status-signal {
                    //background-color: $amber-dark;
                    background-color: $gray-default-dark;
                    transform: scale(1.1);
                    box-shadow: 0 1px 1px 1px #151515, 0 0 5px 4px #ffffff16, 0 0 4px 1px #ffffff05, 0 0 20px 10px #ffffff10;
        
                    animation: steady 1.5s infinite;
                }
                &:hover{
                    .project-details .details-top .right .status-signal {
        
                        box-shadow: 0 1px 1px 0px #030303, 0 0 10px 5px #ffffff24, 0 0 4px 1px #ffffff05, 0 0 20px 20px #ffffff07 !important
        
                    }
                }
            }
            
            /* Selecting Images */
            &.selecting{
                width: 8px*15;
                .project-details .details-top .right .status-signal {
                    background-color: $green-default-dark;
                    transform: scale(1.2);
                    box-shadow: 0 1px 1px 1px #006600, 0 0 8px 5px #00ff00b3, 0 0 5px 1px #00ff0061, 0 0 15px 10px #00ff0050;
            
                    animation: fast-pulse 0.5s infinite;
                }
            
                &:hover {
                    .project-details .details-top .right .status-signal {
                        box-shadow: 0 1px 1px 1px #006600, 0 0 12px 6px #00ff00cc, 0 0 6px 2px #00ff0075, 0 0 20px 15px #00ff0066 !important;
                    }
                }
            }
            &.selected{

                width: 8px*15;
                .status-signal{
                        background-color: $yellow-accessible-dark;
                        transform: scale(1.1);
                        box-shadow: 0 1px 1px 1px #141000, 0 0 7px 4px #ffdd0026, 0 0 4px 1px #ffdd0061, 0 0 15px 10px #ffdd0017;
                        opacity: 0;
                        animation: slow-glow 2s infinite;
                    
                
                    &:hover {
                        .project-details .details-top .right .status-signal {
                            box-shadow: 0 1px 1px 1px #1e1900, 0 0 10px 5px #ffdd003e, 0 0 5px 2px #ffdd0075, 0 0 20px 15px #ffdd001a !important;
                        }
                    }
                }
            } 
            &.completed{

                width: 8px*17;
            }
            
            // Define slow-glow animation
            @keyframes slow-glow {
                0%, 100% { transform: scale(1.1); opacity: 0.1;}
                40% { transform: scale(1.15); opacity: 1;}
            }
            // Define fast-pulse animation for high blinking rate
            @keyframes fast-pulse {
                0%, 100% { transform: scale(1.2); }
                50% { transform: scale(1.3); }
            }
        
          }
          
          .status-signal{
            position: absolute;
            top: 50%; // Center vertically
            left: 8px*1.5; // Add some left padding for visual clarity
            transform: translateY(-50%); // Adjust for vertical centering
            width: calc(8px * 1);
            height: calc(8px * 1);
            background-color: $green-default-dark; // Ensure variable is defined
            border-radius: 50%; // Makes it circular
            margin-top: -4px;
            transform: scale(1.1) translateY(-8px*0);
            box-shadow: 0 1px 1px 1px #022002a3,0 0 10px 5px #00ff0024,0 0 4px 1px #00ff0021,0 0 20px 10px #00ff000e;
            transition-delay: 0.2s;
            transition-duration: 0.2s;
          }
          .project-pin{
            display: flex;
            align-items: center;
            height: 8px*4;
            padding: 0 8px;
            margin-left: 8px;
            color: $gray4-accessible-light;
            font-size: 0.9rem;
            background-color: $dark-2;
            border: 1px solid $gray6-accessible-dark;
            border-radius: 4px;
          }

          .cover-info{
            display: flex;
            gap: 4px;
            padding: 4px;
            margin: 0px;
            margin-right: 0;
            opacity: 0.6;
            p{
              color: $gray5-accessible-light;
              opacity: 0.6;
              font-size: 0.9rem;
              font-weight: 400;
              text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
              transition-duration: 0.2s;
              letter-spacing: 0.03rem;
              margin-top: 1px;
              span{              
                color: $gray5-accessible-light;
                opacity: 0.5;

              }
            }
            &.project-expiry{
                background-color: rgba(0, 0, 0, 0.8);
              border-radius: 5px;
              padding: 4px 8px;
              padding-left: 8px*0.5;
              &.project-archive{
                border-radius: 5px;
                padding: 4px 8px;
                padding-left: 8px*0.5;
              }
            }
          }
          .project-metadata{
            p{
              margin-top: 8px;
              color: $dark-0;
            }
          }

          &.top{
            display: grid;
            justify-content: end;
            gap:4px;
            justify-items: end;
          right: 8px*1;
          left: auto;
          bottom:  8px*9;
          }
          
        }
        .cover-footer{
          position: absolute;
          bottom: 0px;
          left: 0px;
          height: 8px*8;
          width: 100%;
          -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(16px);
          background-color: rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px -1px 2px rgba(0, 0, 0, 0.8);
          border-left: none;
          border-right: none;
          z-index: 11;
        }
        .focus-indicator{
          position: absolute;
          width: 8px*4;
          height: 8px*4;
          border-radius: 1px;
          border: 1px solid $green-accessible-light;
        }
        
        // project-page-cover hover
        &:hover{
          .cover-tools{
            top: 8px*1;
            left: 8px*1;
            .button{
              opacity: 0.9;
              transition-timing-function: ease-out;
              transform: scale(1);
              box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
              &:hover{
                opacity: 1;
                transform: scale(1.05);
                box-shadow: 2px 3px 6px rgba(0, 0, 0, 1);
              }
            }
          }
          .static-tools{
            .cover-info{
              p{
                opacity: 1;
                color: $gray6-accessible-light;
                transition-duration: 0.3s;
                
              }
              .icon-show{
                transition-duration: 0.1s;
              }
              @for  $i from 1 through 3 {
                &:nth-child(#{$i}) {
                  p{

                    transition-delay: 0.1s * $i;
                  }
                  .icon-show{
                    opacity: 1;
                    transition-delay: 0.08s * $i;
                  }
                }

              }
            }
          }
        }

      }
      .project-cover{
        position: relative;
        width: calc(100vw - 8px*14);
        margin-top: -8px*0;
        display: flex;
        opacity: 01;
        grid-template-columns: auto auto;
        padding: 0;
        padding-left: 8px*3;
        margin-bottom: 8px*3;
        margin-top: 8px;
        gap: 8px;
        background-color: rgba(255, 0, 0, 0) !important;
        box-shadow: none;
        .cover-footer{
          position: relative;
          height: 100%;
          margin-top: 8px*0;
        box-shadow: none;
          background: none;
          backdrop-filter: none;
        }
        .static-tools.top{
          height: 8px*8;
          align-content: center;
          right: 8px;
          top: auto;
        }
        .static-tools.bottom{
          top: 0;
          align-content: space-between;
          left:0;
          padding-top: 8px*2;
          padding-bottom: 8px*2;
          padding-left: 8px*0;

          margin-left: 8px*2;


        border-bottom: 1px solid $dark-1-5;
          .link-pin-container{
            display: flex;
          }
        }
      }
      .project-cover-image{
        height: 8px*31.5;
        &.no-cover-image{
          width: 8px*31.5*0;
          height: auto;
          border: 3px solid $gray5-default-dark;
          border-radius: 8px*2;
          box-shadow: 
          0px 0px 4px 2px rgba(12, 12, 12, 0.9),
          0px 0px 8px 2px rgb(255 255 255 / 2%);
          -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
          background-color: rgba(21, 21, 21, 1);
          opacity: 0;
        }
        img{
          height: 8px*32;
          max-width: 100%;
        border: 3px solid $gray5-accessible-dark;
        border-radius: 8px*2;
        box-shadow: 
        0px 0px 4px 2px rgba(12, 12, 12, 0.9),
        0px 0px 8px 2px rgb(255 255 255 / 2%);
        }
      }

    }