.App .toolbar {
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  z-index: 2;
  .tools-container{
    display: flex;
    gap: 10px;
    padding: 2px 8px*2;
    border-radius: 8px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left:1px solid rgba(255, 255, 255, 0.4);
    border-right:1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    
  }
  button.button.icon {
    background-color: #fff;
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: none;
    opacity: 1;
    background-color: transparent;
    
    &::before{
      opacity: 1 !important;
      transform: scale(1);
      padding: 8px*1.5;
      filter: drop-shadow(1px 1px 1px #666666);
    }
    &:hover{
    background-color: white ;
    box-shadow: 0px 1px 2px 1px rgba(41, 41, 41, 0.1);
      &::before{
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
  &.vertical{
  bottom: 8px;
  right: 0;
  justify-content: flex-end;
    .tools-container{
      flex-direction: column;
    padding: 8px*1  8px;
    gap:4px;
    border-radius: 8px*1.6;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left:1px solid rgba(255, 255, 255, 0.4);
    border-right:1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
    &:first-of-type{
      
    margin-top: 8px*4;
    }
    }
    button {
      padding: 8px 8px;
    }
  }
}