@import '../../style/variables';
@import '../../style/components';
//https://github.com/googlefonts/great-vibes/blob/master/fonts/webfonts/GreatVibes-Regular.woff2
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.share-project{
  .gallery-info{
    position: relative;
    z-index: 3;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    .projet-name{
        font-family: 'Great Vibes', cursive;
        font-size: 4rem;
        color: rgba(0, 0, 0, 0.9);
    }
    p{
      
      color: rgba(0, 0, 0, 0.7);
    }

  }
  .project-header{
    display: grid;
    position: relative;
    background-position: center 30%;
    background-size: 100%;
    .banner{
      align-items: center;
      max-height: calc(100vh - 8px*60);
      max-width: calc(100vw);
      position: relative;
      top: 0;
      margin: 0 auto;
      margin-bottom: 8px*5;
      background:  linear-gradient((180deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 1) 90%,rgba(255, 255, 255, 1) 100%));
      z-index: 1;
    }
    .studio{
      text-align: center;
      color: $dark-3;
      margin-bottom: 8px;
    }
  
}
.shared-collection{
    padding: 0 8px*5;
}
.collections-panel{
    display: flex;
    justify-content: center;
    margin-top: 8px*5;
    transform: translate(8px*1, 8px*0);
    z-index: 1;
    .collection-tab{
      display: flex;
      gap: 8px*1;
      padding: 8px 8px*2 ;
      margin-left: -1px;
      background-color: $light-2;
      border-radius: 4px;
      @include boxShadow;
      border: 1px solid $gray3-default-light;
      color: $gray3-accessible-light ;
      a{
        padding: 0;
        color: $gray-accessible-light;
      }
      &.active{
        border: 1px solid $gray2-default-dark;
        z-index: 10 !important;
        a{
          color: black;
        }
        background-color: $light-3;
      }

    }
    .collection-tab:nth-child(n) {
      z-index: calc(5 - var(--n, 0));
    }
    
    .collection-tab:nth-child(1) {
      --n: 1;
    }
    
    .collection-tab:nth-child(2) {
      --n: 2;
    }
    
    .collection-tab:nth-child(3) {
      --n: 3;
    }
    
    .collection-tab:nth-child(4) {
      --n: 4;
    }
  }

  .gallary{

    margin: 0 auto;
    margin-top: 8px*2;
    padding: 8px;
    max-height: 100%;
    max-width: 8px*140;
    overflow-y: scroll;
    .photos{
      width: 100%;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      gap:8px*1;
      .photo{
        width: 100%;
        background-color: $light-0;
        border-radius: 2px;
        background-size: cover;
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 8px*3;
  }
}

@media only screen and (max-width: 830px) {
  .share-project{
    .shared-collection{
      padding: 8px;
    }
    .gallary{
      .photos{
        grid-template-columns: 1fr;
        .photo{
        }
      }
    }
  }
}