.gallery-container {
	width: 100%;
	padding: 20px;


  }
  
  .scale-control {
	margin-bottom: 20px;
  }
  
  .gallery {
	display: flex;
	flex-direction: column;
  }
  
  .gallery-row {
	display: flex;
	gap:8px;
	margin-bottom: 8px;
  }
  
  .gallery-item {
	overflow: hidden;
	position: relative;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(.46,.45,.2,1.05)
  }
  @for $i from 1 through 100 {
	.gallery-item:nth-child(#{$i}) {
		transition-delay: $i *  0.01s;
	}
}
  

  .gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  