@import '../../style/variables';
@import '../../style/components';
.notifications{
	margin-top: 8px*2;
	margin-left: 8px;
	.notifications-list{
		display: grid;
		gap: 8px*2;
		.notification{
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 8px;
			padding: 8px;
			border: 1px solid $dark-1;
			border-radius: 8px;
			width: 8px*80;
			.left{
				.image{
					width: 8px*4;
					height: 8px*4;
					background-color: $dark-1;
					border-radius: 50%;
				}
			}
			.right{
				width: auto;
				display: grid;
				align-items: center;
				justify-content: center;
				.new{
					float: right;
					height: 8px;
					width: 8px;
					border-radius: 50%;
					background-color: $red-default-dark
				}
			}
			.title{
				margin-bottom: 4px;
				font-weight: 500;
				span{
					color: $gray-default-dark;
					font-weight: 400;
					font-size: 0.8rem;
					margin-left: 8px;
				}
			}
			.context{
				color: $gray2-default-dark;
				font-size: 0.9rem;
			}
		}

	}
}