@import '../../style/variables';
@import '../../style/components';
.App .notifications-page{
	main{
		padding-top: 8px*2;
	}
	.notifications-list{
		display: grid;
		gap: 8px*1.5;
		padding: 8px*2 8px*3;
		.label{

			font-size: 1rem;
			color: #666;
			white-space: nowrap;
		}


		.notification{
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 8px;
			padding: 8px;
			border: 1px solid $dark-1;
			border-radius: 8px;
			width: 8px*80;
			.left{
				.image{
					width: 8px*4;
					height: 8px*4;
					background-color: $dark-1;
					border-radius: 50%;
					opacity: 0;
				animation: fadeInUp 0.4s ease-out ;
				animation-fill-mode: forwards;
				animation-delay: 0.1s;
				animation-timing-function: ease-out;
				}
			}
			.right{
				width: auto;
				display: grid;
				align-items: center;
				justify-content: center;
				.new{
					float: right;
					height: 8px;
					width: 8px;
					border-radius: 50%;
					background-color: $red-default-dark
				}
			}
			.title{
				margin-bottom: 4px;
				font-weight: 500;
				opacity: 0;
				animation: fadeInLeft 0.2s ease-out ;
				animation-fill-mode: forwards;
				animation-timing-function: ease-out;
				animation-delay: 0.2s;
				span{
					color: $gray-default-dark;
					font-weight: 400;
					font-size: 0.8rem;
					margin-left: 8px;
				}
			}
			.context{
				color: $gray2-default-dark;
				font-size: 0.9rem;
				opacity: 0;
				animation: fadeInLeft 0.2s ease-out ;
				animation-fill-mode: forwards;
				animation-timing-function: ease-out;
				animation-delay: 0.25s;
			}
			opacity: 0;
		animation: fadeInLeft 0.4s ease-out ;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;

		z-index: 2;
		@for $i from 1 through 10 {
			&:nth-of-type(#{$i}){
				animation-delay: 0.2s + 0.05s * $i;
			}
		}
		}
		

	}
}