
@import '../../../style/_variables.scss';
.welcome-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.welcome-modal-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
}

.welcome-modal-content {
  h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
  }

  p {
    font-size: 1.1rem;
    color: #666;
    margin: 1rem 0 1.5rem;
  }

  .cta-primary {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: $green-accessible-dark; // Example primary color
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s;

    &:hover {
      color: white;
      background-color:$green-default-dark ;
    }
  }

  .cta-secondary {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
