@import './style/variables';
@import './style/components';
@import './style/toolbar';

@import './components/Modal/Modal.scss';

//import fonts
@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/Product\ Sans\ Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/Product\ Sans\ Bold.ttf') format('truetype');
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: 'Product Sans';
  cursor: inherit;
  &::-webkit-scrollbar{
    display: none;
      margin-top: 8px*1;
      width: 8px*0;
      background: rgba(108, 108, 108, 0.2) ;
      padding: 2px;

      cursor: pointer;
      
    }
    &::-webkit-scrollbar-thumb{
      background: rgba(108, 108, 108, 0.2) ;

      border-radius: 8px;
      width: 8px*0;
      border: 4px solid $dark-2; 
      margin:8px;
      cursor: grab;
    }
}
h1,h2{
  font-family: 'Product Sans';
  color: $gray-default-dark;
}
a{
  text-decoration: none;
  color: inherit;
}
p{
  cursor : inherit;
}
body{
  background: $dark-3;

}
.App{
 width: 100vw;
 min-height: 100dvh;
 position: relative;
  *{
    color: white;
  }
  .app-wrap{
    height: 100%;
  }
 
  @import './style/app_header';
  @import './style/app_footer';

  .breadcrumbs{
    display: flex;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
    }
    .back-button{
      padding: 8px*1;
      background-image: url('./assets/img/icons/back.png');
      background-size: auto 90%;
      background-position: center;
      margin-right: 8px*1;
    }
    .crumb{
      display: flex;
      margin-right: 8px*1;
      color: $green-accessible-light;
    }
  }
  .legend{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    height: 8px*3;
    column-gap: 8px*2;
    row-gap: 8px*0;
    margin-left: 8px*1.5;

    margin-top: -8px*1;
    p.paid{
      color: $dark-0;
      &::before{
        position: absolute;
        margin-top: 6px;
        margin-left: -8px;
        color: transparent;
        content: ".";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $green-accessible-dark;
      }
    }
    .pending{
      color: $dark-0;
      &::before{
        position: absolute;
        margin-top: 6px;
        margin-left: -8px;
        color: transparent;
        content: ".";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $orange-accessible-dark;
      }
    }
    .draft{
      color: $dark-0;
      &::before{
        position: absolute;
        margin-top: 6px;
        margin-left: -8px;
        color: transparent;
        content: ".";
        width: 4px; 
        height: 4px;
        border-radius: 50%;
        background-color: $gray-accessible-dark;
        }
    }
  }
  main{
    position: relative;
    top: $header-height ;
    left: 8px*8 + 8px*1;
    width: calc(100vw - 8px*8 - 8px*4);
    height: calc(100vh - #{$header-height} - 8px*3);
    overflow-y: scroll;
    padding: 0 8px*2;
    padding-top: 8px*1;
    margin-left: 8px*1;
    margin-bottom: 8px*5;
    padding-bottom: 8px*3;
    z-index: 10;
    border: 1px solid rgba(82, 82, 82, 0.2);
    border-radius: 8px*2.5;
    border-right: 1px solid rgba(82, 82, 82, 0.01);
    border-bottom: 1px solid rgba(82, 82, 82, 0.01);
    box-shadow: 
    inset 8px 8px 8px*4 4px rgba(129, 129, 129, 0.05), 
    4px 2px 2px 1px rgba(0, 0, 0,0.5);
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;

    @import './style/main_project_page';
    @import './style/main_gallery_page';
    @import './style/main_project_collection';
    
    .fixed-wrap{
      position: fixed;
      width: 300px;
      height: 300px;
      background-color: red;
      top: -200px;
    }
  }
  
  @import './style/project_overlay_ui';
  @import './style/login_ui';

  .no-items{
    padding: 8px*4;
    margin: 8px;
    background-color: $dark-3;
    border-radius: $border-radius-1;
    @include boxed;
    @include boxShadow;
    text-align: center;
    color: $gray3-default-dark;
  }

  .empty-message{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      font-size: 1rem;
      text-align: center;
      color: $gray2-default-dark;
      border: 1px solid $dark-3;
      padding: 4px 8px*2;
      border-radius: 4px;
    }
  }
}

@keyframes project-page-reveal {
  0% {
    opacity: 0;
    transform: translateX(-8px*2);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes gallery-page-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes control-button-reveal {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

@import './style/gallery_global';
@import './style/responsive_overrides';