@import '../../style/variables';
@import '../../style/components';
.wish-messages{
    *{
        color: black;
    }
    input{
        background-color: white;
    }
    .wish-title{
        margin: 8px*2 8px;
    }
    ul{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        gap: 8px*2;
        margin: 8px*2 0;
        padding-bottom: 8px*2;

        li{
            list-style: none;
            padding: 8px*2;
            margin: 8px;
            min-width: 8px*20;
            background-color: $light-1;
            border-radius: 4px;
            font-size: 0.9rem;
            border: 1px solid  rgba(255, 255, 255, 0.2);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            transform: rotate(359deg);
        }
    }
    .message-input{
        display: grid;
        gap: 8px;
        align-items: center;
        input{
            width: 100%;
            &.wish-input{

                height: 8px*8;
            }
        }
        button{

            color: white;
        }
    }
}