@import '../../style/variables.scss';
.upload-progress{
    display: grid;
    grid-template-rows:8px*7 auto;
    position: fixed;
    right: 8px*3;
    top: 100vh;
    width: 8px*40;
    transform: translateY(calc(-100% - 8px*3));
    background-color: $dark-3;
    border: 1px solid $dark-0;
    border-radius: 8px;
    overflow: hidden;
    z-index: 12;
    transition-duration: 0.2s;
    opacity: 1;
    .header{
        position: relative;
        display: grid;
        grid-template-columns: 8px*6 auto 8px*8;
        padding: 8px;
        height: 8px*7;
        line-height: 1.4em;
        border-bottom: 1px solid $dark-2;
        background: linear-gradient(120deg, $dark-2 0%, $dark-3 100%);
        transition-duration: 0.5s;
        .header-process{
            background-image: url('https://media.tenor.com/t5DMW5PI8mgAAAAi/loading-green-loading.gif');
            background-position: center;
            background-size: auto 50%;
            opacity: 0.5;
            filter:saturate(0.6) brightness(2)
        }
        .header-title{
            display: grid;
            p{
                margin-top: -4px;
                font-size: 0.8rem;
                color:$gray4-accessible-dark;
            }
        }
        .modal-controls{
            display: flex;
            justify-content: flex-end;
            gap: 4px;
            margin: 8px;
            .control{
              height: 8px;
              width: 8px;
              border-radius: 50%;
              &.close{
                background-color: $red-default-dark;
              }
              &.minimize{
                background-color: $yellow-default-dark;
              }
              &.maximize{
                background-color: $green-default-dark;
              }
            }
          }
        .total-progress{
            position: absolute;
            bottom: 0px;
            width: 100%;
            .progress-bar{
                height: 4px;
                ;
                background-color: $green-accessible-dark;
                border-radius: 0 2px 2px 0;
            }
        }
    }
    .body{
        height: 8px*24;
        padding: 0 8px*2;
        overflow: scroll;
        background: linear-gradient(120deg, $dark-2 0%, $dark-3 100%);
        transition-duration: 0.2s;
        .upload-queue{
            display: grid;
            gap: 8px*2;
            padding-top: 8px*2;
            .upload-task{
                display: grid;
                grid-template-columns: 8px*4 auto 8px*4;
                gap: 8px*2;
                .task-cover{
                    background-image: url('../../assets/img/icons/image.svg');
                    background-position: center;
                }
                .file-name{
                    font-size: 0.9rem;
                    font-weight: bold;
                }
                .file-progress{
                    font-size: 0.8rem;
                    color: $gray4-accessible-dark;
                    margin-top: 2px;
                }
                .task-status{
                    background-image: url('https://media.tenor.com/t5DMW5PI8mgAAAAi/loading-green-loading.gif');
                    background-position: center;
                    background-size: auto 50%;
                    opacity: 0;
                }
                &.initializing{
                    .task-status{
                        opacity: 1;
                        filter:saturate(0) brightness(2)
                    }
                }
                &.uploading{
                    .task-status{
                        opacity: 1;
                        filter:saturate(0.6) brightness(2)
                    }
                }
                &.uploaded{
                    .task-status{
                        opacity: 1;
                        background-image: url('../../assets/img/icons/check-circle.svg');
                    }
                }
            }
        }
    }

    &.close{

        right: -100%;
        height: 0px;
        opacity: 0;
        transition-duration: 0.2s;
    }
    &.minimize{
        .body{
            height: 0px;
        }
    }
    &.completed{
        transition-duration: 0.2s;
        .header{
            background: linear-gradient(120deg, $green-accessible-dark -30%, $green-accessible-light 50%);.header-title{
                p{
                    color:$gray6-accessible-light;
                }
            }
        }
        .body{
            height: 0px;
            transition-duration: 0.2s;
        }
    }
    &.maximize{
        height: calc(100vh - $header-height - 8px*6);
        
        .body{
            height: 100%;
        }
    }
}